.syllabus_form .editing_links a {
    color: #f66;
    margin-left: 19px;
}

.syllabus_disclaimer {
    font-style: italic;
    text-align: center;
}

.syllabus_help {
    padding-bottom: 1.0em;
}

.ucla_syllabus-container #download_link a {
    font-size: 1.8em;
}

.ucla_syllabus-container #download_link img {
    vertical-align: inherit;
}

.syllabus_form #fgroup_id_access_types {
    padding-bottom: 1.0em;
}