/* Make requestid, term, srs, department, course, status, email instructor,
   do not send URL to MyUCLA, delete cells are centered*/
#uclacourserequestor_requests .c0, 
#uclacourserequestor_requests .c1, 
#uclacourserequestor_requests .c2, 
#uclacourserequestor_requests .c3, 
#uclacourserequestor_requests .c4, 
#uclacourserequestor_requests .c8, 
#uclacourserequestor_requests .c9, 
#uclacourserequestor_requests .c10, 
#uclacourserequestor_requests .c11 {
    text-align: center;
}

#uclacourserequestor_requests thead {
    color: white;
}

#uclacourserequestor_requests tbody .warning,
#uclacourserequestor_requests tbody .error {
    background-color: #f2dede; /* Bootstrap notice error color */
}

#tool_uclacourserequestor #checkrequests {
    margin-left: 5px;
}

#tool_uclacourserequestor .right {
    float: right;     
}

#tool_uclacourserequestor h3.main {
    text-align: left;
    
}

/** This is currently overpowered by an !important **/
#uclacourserequestor_requests thead {
    background-color: #536895;
}

#uclacourserequestor_requests .cmailinst {
    text-align: center;
}

#ucrgeneraloptions input {
    margin: 0 5px;
}

/* Make sure build labels are separated by some space between. */
#ucrgeneraloptions span {
    margin: 5px;
    padding: 3px;
}

#uclacourserequestor_requests .ugrad,
#ucrgeneraloptions .ugrad {
    background-color: #E5EBFF; /* light blue */
}

#uclacourserequestor_requests .grad,
#ucrgeneraloptions .grad {
    background-color: #E5FBE7; /* light green */
}

#uclacourserequestor_requests .tut,
#ucrgeneraloptions .tut {
    background-color: #F2F2F2; /* light grey */
}
