

/* Remove background color and disable fixed positioning from header */
header .header-main {
    background-color: white !important;
    position: inherit;
    width: auto;
}

/* Environment color */
header .header-main .header-btn-group {
    /*background-color: #3d6196;*/
}

/* Structural fix */
header .header-system {
    margin-top: 0;
}

.uclashared-course-logo {
    max-width: 180px;
}

.uclashared-course-logo img {
    width: 100%;
}