.oidwowzafilter-timeline{font-family:helvetica; font-size:12px; height:150px; overflow:auto}

.jwplayer .jw-controls .jw-settings-menu {
    width: 100px;
}

.jw-svg-icon-settings path { 
    display: none; 
} 

.jw-svg-icon-settings { 
    background-image: url([[pix:filter_oidwowza|playback-rate]]); 
    background-size: contain;
    background-repeat: no-repeat; 
    -webkit-filter: invert(100%); 
    filter: invert(100%); 
}