/* Remove border around block. */
.block_ucla_my_sites.card {
    border: 0;
}

/* Selector styles. */
.block_ucla_my_sites .selector {
    color: #536895;
    margin-bottom: 0.5em;
    font-size: 90%;
}
.block_ucla_my_sites .termselector .urlselect,
.block_ucla_my_sites.block .sortselector fieldset div > * {
    display: inline-block;
}
/* Hide button for sort selector. This lets form autosubmit. */
.block_ucla_my_sites .sortselector button.transparent {
    display: none;
}
.block_ucla_my_sites .sortselector div.sortby,
.block_ucla_my_sites .sortselector input {
    margin-right: 4px;
}
.block_ucla_my_sites .sortselector .radio {
    margin-right: 1em;
}

/* Site listing styles. */
.block_ucla_my_sites .course_divider {
    border-width: 1px 0px 0px;
    border-color: #ccc;
    margin-right: 25%;
}
.block_ucla_my_sites div.collab_sites_container {
    margin-left: 1%;
}

/* Since we removed the header for Dashboard page, the first block needs to be
   shifted down.  */
#page-my-index #region-main .card-block:first-child {
    margin-top: 2rem;
}
.block_ucla_my_sites h1 {
    margin-top: -3rem;  /* Style above also offsets title. */
}