//
// CCLE / course specific admin
// --------------------------------------------------

%admin-h2 {
    margin-top: 0;
    font-size: 24px;
    padding-bottom: 2px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 16px;
}

%admin-h3 {
    font-size: 20px;
    margin-top: 0;
}

.pagelayout-admin {

    // Only for the admin page content
    #region-main {

        h2 {
            @extend %admin-h2;
        }
        
        h3 {
            @extend %admin-h3;
        }

        .paging {
            margin-bottom: 16px;
        }
    }
}

$admin-form-item-width: 240px;

// Defines how the settings pages look
#adminsettings {
    
    // Need to have this for override
    .form-item {
        .form-setting,
        .form-description {
            margin-left: $admin-form-item-width + 10px;
        }
        .form-label {
            width: $admin-form-item-width;
        }

        .form-overridden {
            padding: 2px 8px;
            font-size: 1.2rem;
            display: inline-block;
        }
        .form-shortname {
            font-size: 1.2rem;
        }
        .form-defaultinfo {
            color: #aaa;
        }
    }
    
}

// Admin headers
// --------------------------------------------------

// Normalize all course administration headers
/*.region-content > h2.main {
    @include ccle-admin-header;
}*/


// Admin actions
// --------------------------------------------------

// Create horizontal bars to hold different actions
// This is similar to how Github divides their actions
/*.region-content {
    & > .urlselect {
        float: right;
    }
    & > .singleselect {
        border-bottom: 1px solid #ccc;
        padding-bottom: 8px;
        margin-bottom: 20px;
        height: 30px;
    }
    & > .loginfo {
        float: right;
        margin-bottom: 10px;
    }
}

.enrol_user_buttons {
    @include respond-to(handhelds) {
        // @todo: implement
    }
}*/



///

// Normalize all admin page headers 
/*h2.headingblock {
    @include ccle-admin-header;
}*/

/*#addadmisform > h3.main {
    @include ccle-admin-header;
    margin-bottom: 8px;
}*/


// Modifies the course admin menu to be a little more clickable...
// @todo: this could be better...
@media only screen and (max-width: $breakpoint-xsmall),
only screen and (min-width: $breakpoint-xsmall) and (max-width: $breakpoint-medium-small) {
    .block_tree li ul li.type_setting {
        border-bottom: 1px solid $ccle-light-blue;
        height: 34px;
        padding-top: 5px;
        display: inline-block;
        width: 100%;
    }
    
    .block_tree li ul li.type_setting > p > a {
        width: 100%;
        display: inline-block;
    }
}


.external-link {
    padding-right: 15px;
    padding-bottom: -2px;
    background: transparent url([[pix:theme|external]]) no-repeat center right;
}
