//
// CCLE / ATTO / chemistry
// --------------------------------------------------
@import "bootstrap/navs";
@import "bootstrap/panels";

// This will override ATTO styles.
.atto_form {
    
    // Make the panel easier on the eyes.
    .yui3-tabview-panel {
        @extend .panel;
        @extend .panel-default;
        
        @extend .panel-body;
        
        padding: 8px;
    }
    
    // Make the nav tabs easier on the eyes.
    .yui3-tabview-list {
        @include box-sizing(border-box);
        @extend .nav;
        @extend .nav-tabs;

        margin-bottom: 4px;
        
        li.yui3-tab {
            &:hover {
                background-color: none;
            }
            &.yui3-tab-selected > a {
            &,
            &:hover,
            &:focus {
              color: $nav-tabs-active-link-hover-color;
              background-color: $nav-tabs-active-link-hover-bg;
              border: 1px solid $nav-tabs-active-link-hover-border-color;
              border-bottom-color: transparent;
              cursor: default;
              background: none;
            }
          }
          
          > a {
              background: none;
              padding: 6px 6px;
              font-size: 1.2rem;
              /*margin-right: 2px;*/
              line-height: $line-height-base;
              border: 1px solid transparent;
              border-radius: $border-radius-base $border-radius-base 0 0;
              color: #337ab7;
            &:hover {
              border-color: $nav-tabs-link-hover-border-color $nav-tabs-link-hover-border-color $nav-tabs-border-color;
              background-color: #eee;
            }
          }
        }
        
    }
    
    // Style the buttons to be consistent.
    div[role="toolbar"] {
        button {
            border: 1px solid #ddd;
            padding: 4px;
            background-color: white;
            margin-right: 4px;
            margin-bottom: 4px;
            
            @include border-radius(4px);
            
            &:hover {
                background-color: #eee;
                
            }
        }
    }
    
    // Aligns the periodic table symbols.  This is a very strick override, it might
    // break in future version of atto.
    #id_message_atto_chemistry_group_group6 {
        button {
            min-width: 2.2351%;
            padding: 5px;
            width: 2.25%;
            
        }
        
        button[data-tex=""] {
            opacity: 0.1;
        }
    }

}
