//
// CCLE / moodle blocks
// --------------------------------------------------

// Add light shadows to blocks (looks good on mobile!) 
.block {
    margin-bottom: 20px;

    > .header {
        background-color: #eee;
        border-bottom: 2px solid #eaeaea;
        padding: 4px 0;
        margin-bottom: 4px;

        h2 {
            font-size: 1.6rem;
            color: #555;
            font-weight: 300;
            line-height: 1;
            padding: 4px 8px;
            /*font-weight: bold;*/
        }
    }
    
    .block_action {
        float: right;
        padding: 4px;
        
        > img {
            margin-left: 4px;
        }
    }

    .block-control-actions {
        clear: both;
        .iconsmall.actionmenu {
            width: 24px;
            height: 24px;
        }
    }
    
    // Dock hide/show
    .block-hider-show, 
    .block-hider-hide {
        cursor: pointer;
    }
    .block-hider-show {
        display: none;
    }
    
    // Dock hidden conditions
    &.hidden {
        .content, 
        .block-hider-hide {display: none}
        .block-hider-show {display: inline}
    }
}

/// 
// Add a block select looks funky
.block_adminblock {
    .select {
        width: 100%;
    }
}

///
// Settings block
//
// Fixes the search input + button
// Fixes <hr> style
.block_settings {
    .adminsearchform {
        text-align: center;
    }
    #adminsearchquery {
        width: 100%;
        margin-bottom: 8px;
    }
    #settingsnav hr {
        margin: 10px 0;
        border: 1px solid #ddd;
        border-bottom: 1px solid #fff;
    }
}

// Recent activity block

.block_recent_activity {
    .activityhead {
        font-size: 1.1rem;
        
        a {
            @extend .btn;
            @extend .btn-primary;
            @extend .btn-xs;
        }
    }
    
    .main {
        @include ccle-typography-h5;
        margin-top: 8px;
        padding: 4px;
        border-bottom: 2px solid #ddd;
    }
    
    .activity {
        padding: 4px;
        margin-bottom: 0.25em;
        
        &:nth-child(2n+1) {
            background-color: #f5f5f5;
        }
    }
    
    .head {
        font-size: 1.1rem;
    }
    
    .unlist {
        li {
            padding: 4px;
            margin-bottom: 0.25em;
            
            &:nth-child(2n) {
                background-color: #f5f5f5;
            }
        }
    }
}
