//
// Admin / Course / Category manager
//

// CCLE-4625
// Adds a better visual hint to courses drag & drop.
//
#page-course-management {
    
    // Adds a tranlucent overlay.
    .course-being-dragged {
        border: 1px solid #ddd;
        background-color: #EFEFEF;
        
        a {
            color: #aaa;
        }
    }
    
    // Adds a grayed out shadow.
    .course-being-dragged-proxy {
        background-color: #fff;
        opacity: 0.7;
        border: 1px solid #aaa;
    }
    
    // Makes 'gear' dropdown menu icons display correctly.
    .menu {
        .smallicon {
            @include box-sizing(content-box);
        }
    }
}


// CCLE-4258: add visual cue to indicate term on categories course lists.
// This will handle terms until 2022!
#page-course-management {
    
    #region-main {
        h2 {
            border: 0;
        }
        
        select {
            width: 90%;
            margin-bottom: 8px;
        }
        
        .pair-value {
            margin-bottom: 16px;
        }
    }
    
    // Terms we want to cover, with term code
    $terms: (
        fall F,
        winter W,
        spring S,
        summer 1
    );
    
    // Iterate through terms
    @each $term in $terms {
        $name: nth($term, 1);
        $code: nth($term, 2);
        
        // Generate values for 10 years after 2012
        @for $i from 12 to 22 {
            a[data-name^="#{$i}#{$code}"]:before {
                @extend .label-term;
                @extend .label-#{$name};
                content: "#{$name} #{$i}";
                margin-right: 4px;
            }
        }
    }
}

// Highlight
#course-category-listings li[data-selected="1"] > div {
    background-color: #444;
    color: white;
    
    a {
        color: white;
    }
}
