

// Redfine the generalbox

.generalbox {
    border: 0;
}


.continuebutton {
    text-align: center;
}

.initialbar {
    a, strong {
        padding-left: 3px;
        padding-right: 3px;
    }
}
