
@import "ucla/buttons";

// Style Moodle dialogs.  Do this only in the UCLA format in editing mode..
.format-ucla.editing {

    .moodle-dialogue-base.moodle-dialogue-confirm {

        .moodle-dialogue-wrap  {
            border: 1px solid #D9534F;
            
            // Header
            .moodle-dialogue-hd {
                background-image: none;
                background-color: #D9534F;
                text-shadow: 0 0 0;
                border-radius: 0 0 0 0;

                h1 {
                    color: white;
                }
            }
            
            // Body
            .moodle-dialogue-bd {
                
                // Make 'Yes' dangerous.
                input[value="Yes"] {
                    @extend .btn;
                    @extend .btn-danger;
                    margin-right: 8px;
                }
                input[value="No"] {
                    @extend .btn;
                    @extend .btn-link;
                    
                    border: 1px solid #ccc;
                    @include border-radius(4px);
                    
                    &:hover {
                        border: 1px solid #ccc;
                    }
                }
            }
        }
    }
}