
// Fix some alignment problems with the filepicker
.fp-formset {
    
    .fp-setlicense select  {
        width: 260px;
    }
    
    label {
        font-size: 1.4rem;
        padding-top: 4px;
    }
    
    .control-group {
        margin-bottom: 4px;
        
        input[type="text"] {
            @extend .form-control;
            @include box-sizing(border-box);
        }
    }
    
    input[type="file"] {
        display: inline-block;
    }
    
    
}

// Ugly override to fix the file manager drag & drop display in the
// file manager embedded layout.
#region-main .mform:not(.unresponsive) .femptylabel .ffilemanager {
    width: inherit;
}

// Fixes alignment problems in the embedded file manager dialog
.file-picker.fp-generallayout {
    .control-group {
        label {
            display: inline-block;
            margin-right: 12px;
        }
        .controls {
            display: inline;
        }
    }
}

// More ugly hacks follow:

// Remove the header from the atto dialog file manager (embedded)
// and constrain width of embedded file picker dialog.
#page-lib-editor-atto-plugins-managefiles-manage {
    #page-header {
        display: none;
    }
    .moodle-dialogue-base .moodle-dialogue-wrap {
        width: 88%;
                
        // Force window sizes to remain constant:
        // The repo area
        .file-picker .fp-repo-area {
            max-height: 140px;
        }
        // The file area
        .file-picker .fp-content {
            height: 350px;
        }
    }
}

// Fix structural alignments with general dialog boxes
// and @extend boostrap styles to buttons and inputs.

.moodle-dialogue-base {
    .moodle-dialogue-wrap {
        .moodle-dialogue-bd {
            
            // Removes awkward padding around embedded dialogs.
            padding: 0;

            input[type="text"],
            input[type="url"] {
                @extend .form-control;

                margin-bottom: 4px;

                @include box-sizing(border-box);

                &.fullwidth {
                    width: 100%;
                }
            }
            label {
                font-size: 1.4rem;
                padding-top: 4px;
            }
            .atto_image_alignment {
                width: 100%;

                @include box-sizing(border-box);
            }

            .atto_media_urlentrysubmit,
            button[type="submit"] {
                @extend .btn;
                @extend .btn-primary;
            }
            button[type="button"] {
                @extend .btn;
                @extend .btn-default;
            }
        }
    }
}
// 
// Below are styles that change the file picker dialog to better match the UCLA theme
// Saving for possible use in the future.
//

/*
// Style the filepicker area
.fp-repo-area {
    background-color: #444;

    a, a:link {
        color: #eee;
    }

    // UL
    .fp-list {
        // LI
       .fp-repo {
            &:nth-child(2n) {
                background-color: #454545;
            }
            &.active {
                background-color: #666;
            }

            a, a:link {
                color: #fff;
                font-size: 1.2rem;
            }
        } 
    }
}

// Set a 
.file-picker {
    .fp-content {
        height: 484px;
    }
}

.moodle-dialogue-base 
    .moodle-dialogue-wrap {

    background-color: #333;

    @include border-radius(0);

    .moodle-dialogue-hd.yui3-widget-hd {
        background-color: #333;
        background-image: none;
        color: #eee;
        text-shadow: 1px 1px 1px #000;
        border-color: #000;
        font-size: 1.4rem;

        @include border-radius(0);
    }
    .moodle-dialogue-bd {
        @include border-radius(0);
        background-color: #eee;
        
        input[type="text"],
        input[type="url"] {
            @extend .form-control;
            
            margin-bottom: 4px;
            
            @include box-sizing(border-box);
            
            &.fullwidth {
                width: 100%;
            }
        }
        label {
            font-size: 1.4rem;
            padding-top: 4px;
        }
        .atto_image_alignment {
            width: 100%;
            
            @include box-sizing(border-box);
        }
        
        .atto_media_urlentrysubmit,
        button[type="submit"] {
            @extend .btn;
            @extend .btn-primary;
        }
        button[type="button"] {
            @extend .btn;
            @extend .btn-default;
        }
    }
}*/