//
// Moodle / Gradebook
// --------------------------------------------------


$grade-report-color-overriden-border: #DC691A;

$grade-report-odd-vmarked-bgcolor: #F39A00;
$grade-report-odd-hmakred-bgcolor: #F5CD00;
$grade-report-odd-hvmarked-bgcolor: #F1B900;

$grade-report-even-vmarked-bgcolor: #F4A400;
$grade-report-even-hmakred-bgcolor: #F5CF2C;
$grade-report-even-hvmarked-bgcolor: #F1BE00;

.path-grade-report-grader {
    
    // Make overlay look like our standard 'alerts'
    .yui3-overlay {
        border: 0;
        background: none;
        background-color: 'initial';
        min-width: 200px;
    }
    
    // Style tooltip
    .graderreportoverlay {
        background-color: white;
        width: auto;
        padding: 10px;
        border-color: #ddd;
        font-size: 1.2rem;
        
        &.overriden {
            border-top: 22px solid #f1c32a;
            
            &:before {
                content: "Overridden grade";
                color: black;
                height: 0px;
                width: 100%;
                display: inline-block;
                text-align: center;
                top: -28px;
                float: left;
                position: relative;
            }
        }
        
        @include box-shadow(#999 2px 2px 3px);
        @include border-radius(4px);
        
        .overriden {
            background-color: #f1c32a;
            width: 100%;
            text-align: center;
        }
        .fullname {
            color: #444;
        }
        .itemname {
            padding-top: 4px;
            color: #666;
        }
    }
    
    // Remove top scroller.
    .right_scroller topscroll {
        display: none;
    }
    // Remove the table overflow
    .gradeparent {
        overflow: inherit;
    }
}

table#user-grades {
    
    font-size: 1.2rem;

/*    .r0:not(.odd):not(.even),
    .r1:not(.odd):not(.even) {
        td, th {
            background-color: #333;
            border: 1px solid #444;
            color: #eee;
        }
    }*/
    .avg th,
    .avg td,
    .heading th {
        font-weight: bold;
        background-color: #333;
        color: #ddd;
        border-color: #444;
        a {
            color: white;
            font-weight: normal;
        }
    }
    .avg .cell {
        font-weight: bold;
        text-align: center;
        
        &.header { text-align: right;}
    }
    th {
        font-weight: normal;
        &.cell {
            height: 20px;
            white-space: nowrap;
            // Fix header for grade history plugin
            .path-grade-report-history & {
                white-space: normal;
            }
        }
    }
    .controls {
        text-align: right;
        background-color: #eee;
        height: 20px;
    }
    tr {
        height: 40px;
        
        .gradevalue {
            width: 100%;
            text-align: center;
            display: inline-block;
        }
        .grade:hover {
            /*border: 2px solid $grade-report-color-overriden-border;*/
        }
        .user.cell {
            min-width: 200px;
            max-width: 200px;
            width: 200px;
            background-color: #777777;
            border-color: #666666;
            
            a {color: white}
            .userpicture {display: none;}
            .usersuspendedicon {display: none;}
        }
        
        // ODD rows
        &.odd {
            td.grade.vmarked {
                background-color: $grade-report-odd-vmarked-bgcolor;
                border-bottom-color: $grade-report-odd-vmarked-bgcolor;
                &.overridden {
                    background-color: $grade-report-odd-vmarked-bgcolor;
                    border-color: $grade-report-color-overriden-border;
                }
            }
            td.grade.hmarked {
                background-color: $grade-report-odd-hmakred-bgcolor;
                border-bottom-color: $grade-report-odd-hmakred-bgcolor;
                &.overridden {
                    background-color: $grade-report-odd-hmakred-bgcolor;
                }
            }
            td.grade.vmarked.hmarked {
                background-color: $grade-report-odd-hvmarked-bgcolor;
                border-bottom-color: $grade-report-odd-hvmarked-bgcolor;
                &.overridden {
                    background-color: $grade-report-odd-hvmarked-bgcolor;
                    border-color: $grade-report-color-overriden-border;
                }
            }
            td.grade.overridden {
                background-color: #fff;
                /*border: 0;*/
                
                background: url([[pix:theme|corner-fold]]) no-repeat;
                width: 16px;
                height: 16px;
                background-color: #efefef;

            }
        }
        
        // EVEN rows
        &.even {
            td.grade.vmarked {
                background-color: $grade-report-even-vmarked-bgcolor;  
                border-bottom-color: $grade-report-even-vmarked-bgcolor;
                    &.overridden {
                    background-color: $grade-report-even-vmarked-bgcolor;
                    border-color: $grade-report-color-overriden-border;
                }
            }
            td.grade.hmarked {
                background-color: $grade-report-even-hmakred-bgcolor;
                border-bottom-color: $grade-report-even-hmakred-bgcolor;
                &.overridden {
                    background-color: $grade-report-even-hmakred-bgcolor;
                }
            }
            td.grade.vmarked.hmarked {
                background-color: $grade-report-even-hvmarked-bgcolor;
                border-bottom-color: $grade-report-even-hvmarked-bgcolor;
                &.overridden {
                    background-color: $grade-report-even-hvmarked-bgcolor;
                    border-color: $grade-report-color-overriden-border;
                }
            }
            td.grade.overridden {
                background-color: #efefef;
                /*border: 2px dashed $grade-report-color-overriden-border;*/
                /*border: 0;*/
                
                background: url([[pix:theme|corner-fold]]) no-repeat;
                width: 16px;
                height: 16px;
                background-color: #fff;
            }
        }
    }

    .overridden .grade_icons {
        padding-left: 10px;
    }
    // Icon highlight
    .category .action-icon {
        img {
            opacity: 0.5;
        }
        &.selected img {
            opacity: 1;
        }
    }
}

#gradebook-header-container {
    font-size: 1.2rem;
    background-color: #444;

    .gradebook-header-cell {
        background-color: #444;
        color: white;
        padding: 4px; 
        white-space: nowrap;
        border: 1px solid #444;
        border-top: 0;
        border-right: 0;
        overflow: hidden;

        &.catlevel1 {
            background-color: #333;
        }
        &.catlevel2 {
            background-color: #222;
        }
        a {
            color: white;
        }
        &:hover {
            background-color: #111;
        }
        .icon {
            width: 24px;
            height: 24px;
            vertical-align: middle;
            border: 0;
            padding-right: 6px;
        }
    }
}

#gradebook-user-container {
    background-color: #777;
    
    .gradebook-user-cell {
        background-color: #666;
        font-size: 1.2rem;
        border: 1px solid #666;
        border-top: 0;
        padding: 4px;
        
        .userpicture {
            display: none;
        }
        .usersuspendedicon {
            margin-left: 6px;
            float: right;
        }
        a {
            display: inline;
            font-weight: normal;
            color: #fff;
            line-height: 1;
        }
        &:nth-child(2n+1) {
            background-color: #777;
            border-bottom: 1px solid #777;
        }
        &:nth-child(2n):hover {
            background-color: #5c5c5c;
        }
        &:hover {
            background-color: #6d6d6d;
        }
        &:first-child {
            /*border-top: 1px solid #666;*/
        }
    }
}

#gradebook-footer-container {
    
    display: none;
    font-size: 1.2rem;
    background-color: #444;
    
    &.gradebook-footer-row-sticky {
        
        display: block;
        .cell {
            border-top: 2px solid gray;
        }
    }
    .gradebook-footer-cell {
        padding: 8px;
        font-size: 1.2rem;
        background-color: #333;
        color: white;
        font-weight: bold;
        
        text-align: center;
        border: 1px solid #444;
        border-right: 0;
        
        &:nth-of-type(1) {
            text-align: right;
        }
        
        .btn {
            float: left;
        }
    }
}

#gradebook-user-header-container {
    background-color: #333;
    font-size: 1.2rem;
    text-align: left;
    padding: 8px;
    
    a {color: white;}
}

// gradebook help

.gradebook-color {
    @include border-radius(4px);
    overflow: hidden;
    width: 30%;
    height: auto;
    padding: 2px 4px;
    text-align: center;
    height: 25px;
    float: left;
    margin-right: 10px;
    
    &:after {
        content: "";
        float: right;
        width: 50%;
        height: 100%;
    }
}
.gradebook-overridden {
    background: url([[pix:theme|corner-fold]]) no-repeat;
    height: 30px;
    background-color: #efefef;
}
.gradebook-row-color {
    background-color: $grade-report-odd-hmakred-bgcolor;
    &:after {
        background-color: $grade-report-even-hmakred-bgcolor;
    }
}
.gradebook-column-color {
    background-color: $grade-report-odd-vmarked-bgcolor;
    &:after {
        background-color: $grade-report-even-vmarked-bgcolor;
    }
}

#user-report-table {
    clear: both;
    margin-top: 20px;
    font-size: 1.2rem;
}

// Grader report loading screen

.gradebook-loading-screen {
    width: 100%;
    height: 40px;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: black;
    z-index: 99999;
    opacity: 0.8;
    padding: 10px;
    text-align: center;
    
    .gradebook-loading {
        /*margin: auto;*/
        padding-right: 40px;
        /*position: fixed;*/
        text-align: center;
        width: 100%;
    }
}

.gradebook-loading i{
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 50%;
    background: #00b3d5;
}
.gradebook-loading i:first-child{
    -webkit-animation:gradebook-loading-ani2 0.5s linear infinite;
    animation:gradebook-loading-ani2 0.5s linear infinite;
    opacity: 0;
    @include transform(translate(-20px));
}
.gradebook-loading i:nth-child(2),
.gradebook-loading i:nth-child(3){
    -webkit-animation:gradebook-loading-ani3 0.5s linear infinite;
    animation:gradebook-loading-ani3 0.5s linear infinite;
}
.gradebook-loading i:last-child{
    -webkit-animation:gradebook-loading-ani1 0.5s linear infinite;
    animation:gradebook-loading-ani1 0.5s linear infinite;
}
@-webkit-keyframes gradebook-loading-ani1{
    100%{
        @include transform(translate(40px));
        opacity: 0;
    }
}
@keyframes gradebook-loading-ani1{
    100%{
        @include transform(translate(40px));
        opacity: 0;
    }
}
@-webkit-keyframes gradebook-loading-ani2{
    100%{
        @include transform(translate(20px));
        opacity: 1;
    }
}
@keyframes gradebook-loading-ani2{
    100%{
        @include transform(translate(20px));
        opacity: 1;
    }
}
@-webkit-keyframes gradebook-loading-ani3{
    100%{
        @include transform(translate(20px));
    }
}
@keyframes gradebook-loading-ani3{
    100%{
        @include transform(translate(20px));
    }
}
