//
// CCLE / profile page styling
// --------------------------------------------------

// CCLE-6023: Fix styling issue in User profile page (scrunched up text, bullet point)

#page-user-profile .userprofile dt {
    width: 100%;
    overflow: hidden;
    text-overflow: initial;
    white-space: initial;
}

#page-user-profile .userprofile dd {
    margin-left: 10px;
}

#page-user-profile .userprofile ul {
    margin-left: 0px;
    margin-right: 0px;
    list-style-type: none;
}

#page-user-profile .userprofile li {
    line-height: 18px;
}

#page-course-view-ucla .userprofile dt {
    width: 100%;
    overflow: hidden;
    text-overflow: initial;
    white-space: initial;
}

#page-course-view-ucla .userprofile dd {
    margin-left: 10px;
}

#page-course-view-ucla .userprofile ul {
    margin-left: 0px;
    margin-right: 0px;
    list-style-type: none;
}

#page-course-view-ucla .userprofile li {
    line-height: 18px;
}

#page-user-profile .profile_tree .node_category_coursedetails ul ul, #page-user-profile .profile_tree .node_category_miscellaneous ul,
#page-user-profile .profile_tree .node_category_reports ul {
    list-style-type: disc;
    margin-left: 1em;
}

#page-course-view-ucla .profile_tree .node_category_coursedetails ul ul, #page-course-view-ucla .profile_tree .node_category_miscellaneous ul,
#page-course-view-ucla .profile_tree .node_category_reports ul {
    list-style-type: disc;
    margin-left: 1em;
}

#page-user-profile .profile_tree .node_category_coursedetails ul ul li {
    position: relative;
    left: 1em;
    padding-right: 1em;
    clear: left;

}

#page-course-view-ucla .profile_tree .node_category_coursedetails ul ul li {
    position: relative;
    left: 1em;
    padding-right: 1em;
    clear: left;
}