//
// CCLE / user menu styling
// --------------------------------------------------

// CCLE-5972: Implement new user profile preferences in UCLA Theme
.usermenu .moodle-actionmenu .toggle-display .userbutton
.usertext{
    color: white;
    font-weight: 300;
    padding-bottom: 3px;
}

.usermenu .moodle-actionmenu:hover .toggle-display .userbutton .usertext {
    color: white;
}

.usermenu .moodle-actionmenu {
    background-color: #3284bf;
}

.usermenu .moodle-actionmenu .toggle-display {
    padding: 0px;
}

.jsenabled .moodle-actionmenu[data-enhance] .toggle-display.textmenu .caret {
    margin-top: 10px;
}

.caret {
    border-top: 4px solid white;
}

a:focus .caret, a:hover .caret {
    border-top-color: white;
}
