//



.sidebar {
    background-color: #ecf0f1;
    padding: 14px;
    
    &.very.thin.active {
        box-shadow: none;
    }        
    border-right: 1px solid #bdc3c7;

    
    .block-region {
        /*padding: 10px;*/
        /*@include box-shadow(#000, 1px, 1px, 2px, 0, inset);*/
        /*@include box-shadow(#aaa -2px 2px 5px inset);*/
    }
}

.container-fluid {
    #region-main-box {
        padding: 20px;
    }
}

.path-grade-report-grader {
    
    .urlselect {
        float: right;
    }
    .help {
        float: left;
    }
    
    h2.main {
        clear: right;
    }
}

.main.container-fluid {
    min-height: 1000px;
    
    & ~ #page-footer {
        float: left;
    }
}
