.generalbox {padding: 10px; margin-bottom: 15px;}
.userinfobox {margin-left: auto; margin-right: auto;}
#notice.generalbox {margin-left: auto; margin-right: auto; width: 60%;}

/* Message for unsupported browsers.  Needs to load early in CSS parser */
.unsupported-browser {
    width: 100%;
    background-color: #fae692;
    padding: 10px 100px;
    border-bottom: 1px solid #444;
}
    
.unsupported-browser .container {
    padding: 10px 50px;
    background: url([[pix:theme|ie-notice]]) no-repeat;
}