#helppopupbox {
    max-height:300px;
    overflow:auto;
}
 
.errorcode {display:none}

/* CCLE-4289 - Show All View Action Icons */
.gradestable .action-icon img.smallicon { opacity: 0.5; }
.gradestable .action-icon.selected img { opacity: 1; }
