/** HSL Color Picker **/
.picker {
    padding: 8px;
    /*background: #efefef;*/
    /*border: 1px solid #ddd;*/
    border-top: 1px solid #ddd;
}

#hue-dial,
.sliders,
.color {
    display: inline-block;
    zoom: 1;
    *display: inline;
    vertical-align: middle;
}

#hue-dial .yui3-dial-ring {
    background: url([[pix:local_ucla_support_tools|colorwheel]]) -25px -25px no-repeat;
}

.sliders {
    margin: 0 20px;
}

.sliders strong {
    font-weight: 600;
    display: block;
}

.sliders strong span {
    font-weight: 300;
}

.sliders div + div {
    margin-top: 1em;
}

.color {
    width: 40px;
    height: 100px;
    border: 2px solid #fff;
}

