
// Panel
.yui3-skin-sam .yui3-panel-content {
    border-color: #aaa;
    @include box-shadow(#666 2px 2px 4px);

    .yui3-widget-ft {
        background-color: #eee;
    }
}

.ucla-tools-dialog {
    &.yui3-panel-content .yui3-widget-bd {
        padding: 0;
    }

    .title {
        text-align: center;
        border-bottom: 2px solid #ddd;
        margin-top: 0;
        background-color: #eee;
        padding: 12px;
        font-size: 1.8rem;
    }

    .message {
        padding: 10px;

        label {
            font-weight: bold;
            width: 100%;
            font-weight: bold;
        }
    }

    .form-control {
        width: 100%;
    }

    .form-group {
        color: #666;
    }
}