
// Edit styles
%edit {
    width: 100%;
    /*background-color: #fff;*/
    text-align: right;
    padding-right: 4px;

    a[data-action] {
        color: #222;
        display: inline-block;
        padding: 4px;
        margin: 8px 0;
        text-align: center;
        text-transform: uppercase;
        min-width: 30%;
        font-size: 1.1rem;
        font-weight: bold;

        .fa {
            margin-right: 6px;
        }
    }
    a[data-action="remove"] {
        color: #f59e45;
    }
    a[data-action="edit"] {
        color: #3b92d2;
    }
    a[data-action="delete"] {
        color: #f56a45;
    }
}