//
// Salvattore is a library that re-aligns the grid so cards inside a column
// are spaced correclty.
//

#cat-grid,
#grid {
    li {
        list-style: none;
    }
}

#grid[data-columns]::before {
    content: '6 .column.size-1of6';
}

#cat-grid[data-columns]::before {
    content: '4 .column.size-1of4';
}


/* These are the classes that are going to be applied: */
.ucla-support-tool-category-list .column {
    float: left;

    > li {
        margin-right: 8px;
        margin-bottom: 16px;

        #cat-grid & {
            margin-right: 16px;
        }
    }
}

.size-1of1 {
    width: 100%;
}

.size-1of2 {
    width: 50%;
}

.size-1of3 {
    width: 33.333%;
}

.size-1of4 {
    width: 25%;
}

.size-1of5 {
    width: 20%;
}

.size-1of6 {
    width: 16.667%;
}

@media screen and (max-width: 480px) {
    #cat-grid[data-columns]::before,
    #grid[data-columns]::before {
        content: '1 .column.size-1of1';
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    #cat-grid[data-columns]::before,
    #grid[data-columns]::before {
        content: '2 .column.size-1of2';
    }
}

@media screen and (min-width: 769px) and (max-width: 979px) {
    #cat-grid[data-columns]::before,
    #grid[data-columns]::before {
        content: '3 .column.size-1of3';
    }
}

@media screen and (min-width: 980px) and (max-width: 1279px) {
    #cat-grid[data-columns]::before {
        content: '4 .column.size-1of4';
    }

    #grid[data-columns]::before {
        content: '5 .column.size-1of5';
    }
}

@media screen and (min-width: 1280px) {
    #cat-grid[data-columns]::before,
    #grid[data-columns]::before {
        content: '5 .column.size-1of5';
    }
}
