{{!
    This file is part of the UCLA My sites plugin for Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_ucla_my_sites/tab

    Displays tab.

    Example context (json):
    {
        "id": "tabclass",
        "name": "Class",
        "listing": "Class listing html",
        "active": "active",
        "ariaexpanded": "true",
        "selector": "Selector html"
    }
}}

<li class="nav-item">
    <a class="nav-link {{active}}" href="#filter-tabs-content-{{id}}" data-toggle="tab" role="tab" aria-expanded="{{ariaexpanded}}">
        {{#str}}tab, block_ucla_my_sites, {{name}}{{/str}}
    </a>
</li>