//
// ALERTS
// --------------------------------------------------

@import "bootstrap/alerts";

/// overrides

.alert {
    color: #222;
    
    @include border-radius(0px);
    
    h1, h2, h3, h4 {
        margin-top: 0;
    }
}

// @todo: change these hex values to $vars
.alert-info {
    /*border-left: 4px solid #3A87AD;*/
}

.alert-warning {
    /*border-left: 4px solid #F1E7BC;*/
}

.alert-danger {
    /*border-left: 4px solid #B94A48;*/
}

.alert-error {
    @extend .alert-danger;
}

// Syllabus alertbox
// --------------------------------------------------

// This also normalizes the form so that it doesn't look out of place
.ucla-format-notice-box {
    // This will use the 'info' clor
    @extend .alert;
    @extend .alert-info;

        .mform {
            .felement {
                margin-left: 0;
            }
            
            input[name="yesbutton"] {
                @extend .btn;
                @extend .btn-success;
            }
            input[name="laterbutton"] {
                @extend .btn;
                @extend .btn-default;
            }
            input[name="nobutton"] {
                @extend .btn;
                @extend .btn-default;
            }
        }

}

