@import "bootstrap/breadcrumbs";

$breadcrumbs-color: #666;
$breadcrumbs-highlight-color: #444;

///
// Modify default breadcrumb
.breadcrumb {
    background-color: white;
    margin: 0;
    margin-left: -15px;
    // Override CORE -- this will break responsive breakpoints
    float: none;
    
    .divider {
        display: none;
    }
    
    li {
        color: $breadcrumbs-color;
        a {
            color: $breadcrumbs-color;
            &:hover {
                color: $breadcrumbs-highlight-color;
            }
        }
        
        &:last-child > a {
            color: $breadcrumbs-highlight-color;
            font-weight: bold;
        }
        &:first-child > a {
            height: 16px;
            width: 16px;
            display: block;
            overflow: hidden;

            // Adds the 'Home' glyph
            &:before{
                @include glyphicon("\e021");
                color: $breadcrumbs-highlight-color;
            }
        }
    }

}