//
// Buttons
// --------------------------------------------------

@import "bootstrap/buttons";


$btn-color-editing:         #ef7c1f;
$btn-color-control-panel:   #ffcf48;
$btn-color-forum-search:    #4d4d4d;
$btn-color-login:           #f9c739;

////
// Button overrides
// --------------------------------------------------

// Default Boostrap button
.btn {

    @include respond-at(xs) {
        width: 100%;
        margin-top: 4px;
    }

    // Make buttons render correctly on iPhone
    -webkit-appearance: none;
    
    // Buttons need define ther margins/padding using border-box
    @include box-sizing(border-box);
}

// Make default bootstrap buttons darker
.btn-default {
    @include button-variant(#ffffff, #4d4d4d, #333);
}

// keep the primary color text white.
.btn-primary {
    color: white !important;
}

// Header button definition.
.btn-header {
    background-color: $ucla-color-blue;
    padding: 10px 12px; 
    color: white;
    display: inline-block;
    font-weight: 300;
    height: $header-height;
    
    @include transition-property(background-color, color);
    @include transition-duration(0.25s);
    @include transition-timing-function(ease-out);
    
    &:hover {
        background-color: lighten($ucla-color-blue, 5%);
        text-decoration: none;
    }
    
    // Add braces for 'real user' for 'login-as'
    &.real-user {
        padding-right: 24px;
        
        &:after {
            content: "]";
        }
        &:before {
            content: "[";
        }
    }
    
    i {
        margin-left: 4px;
    }
}

// Keep links white
a.btn-header {
    color: white;
}

// A header button that is not a button.
.btn-header-text {
    /*background-color: $ccle-color-blue;*/
    font-size: 1.2rem;
    padding: 10px 12px; 
    color: white !important;
    display: inline-block;
    font-weight: 300;
    height: auto;
}

// Help button
.btn-help-feedback {
    background-color: $ccle-color-gold;

    &:hover {
        background-color: #ffc933;
    }
    &:focus {
        background-color: #ff9d00;
        border: 2px solid white;
    }
}

a.btn-help-feedback {
    color: black;
    i {
        margin-left: 2px;
    }
}

// Login button
.btn-login {
    background-color: $ccle-color-gold;
    color: black !important;

    &:hover {
        background-color: #ffc933;
    }
    &:focus {
        background-color: #ff9d00;
        border: 2px solid white;
    }
}

// Button group
.header-btn-group {
    float: right;
    color: white;
    
    .role-name {
        padding-left: 8px;
        font-size: 1.0rem;
        color: #cbe2f2;
        
        &:after {
            content: ")";
        }
        &:before {
            content: "(";
        }
    }
    .login-as {
        font-size: 1.1rem;    
        margin-left: -20px;
    }
}

//
// These declarations don't produce classes, instead they are meant to be used
// as traits with @extend -- primarily in adapter-like declarations.
//

%btn-navbar {
    font-size: 1.4rem;
    background-color: $btn-color-navbar;
    padding: 4px  8px;
    color: white;
    font-weight: 300;
    border: 1px solid $btn-color-navbar;
    /*border-bottom: 2px solid darken($btn-color-navbar, 8%);*/

    @include border-radius(0);
    @include transition-property(background-color, color);
    @include transition-duration(0.25s);
    @include transition-timing-function(ease-out);

    &:hover {
        background-color: darken($btn-color-editing, 5%);
    }
    
    // Make buttons render correctly on iPhone
    -webkit-appearance: none;
}

%btn-editing-mode {
    
    @extend %btn-navbar;

    background-color: $btn-color-editing;
    color: white;
    border-color: $btn-color-editing;
    border-bottom-color: darken($btn-color-editing, 8%);
    
    &:hover {
        background-color: darken($btn-color-editing, 5%);
    }
}

%btn-control-panel {
    @extend %btn-navbar;
    
    background-color: $btn-color-control-panel;
    color: #222;
    border-color: darken($btn-color-control-panel, 5%);
    border-bottom-color: darken($btn-color-control-panel, 12%);

    &:hover {
        background-color: darken($btn-color-control-panel, 10%);
    }
}

%btn-forum-search {
    
    @extend %btn-navbar;
    
    background-color: $btn-color-forum-search;
    color: white;
    border-color: darken($btn-color-forum-search, 5%);
    border-bottom-color: darken($btn-color-forum-search, 10%);
    
    &:hover {
        background-color: darken($btn-color-forum-search, 10%);
    }
}


