//

$frontpage-logo-bar-width:  175px;

// Frontpage layout namespace
.pagelayout-frontpage {
    
    // Embed the image on the #page wrapper element
    #page {
        background: url(../../../../theme/uclashared/frontpageimage.php) no-repeat;
        background-position: 0 20%;
        /*background-size: 100% auto;*/
        height: 100%;
        min-height: 1000px;
        max-height: 1140px;

        @include respond-xs {
            background-position: 55% -80px;
            background-size: auto 60%;
        }
         // Wallpaper size threshold.
        @include respond-to-size(1499px) {
            background-position: right 20%;
            background-size: 100% auto;
        }
    }
 
    header {
        .logo-ucla {
            width: 44px;
            float: left;
            margin-top: 2px;
        }
        .logo-ccle {
            font-size: 1.8rem;
            float: left;
            clear: both;
            margin-left: 0
        }
    }

    header {
        z-index: 999;
        margin-bottom: 0;
        
        .water-mark {
            -moz-transition: all,.15s,ease-in-out;
            -o-transition: all,.15s,ease-in-out;
            transition: all .15s ease-in-out;
            bottom: 0;
            float: right;
            height: 80px;
            line-height: 50px;
            padding: 30px 0 0;
            position: absolute;
            right: 20px;
            text-align: right;
            z-index: 100;
            
            p {
                text-decoration: none;
                font-weight: 300;
                font-size: 1.4rem;
                color: rgba(255,255,255,.65);
 
                &:hover {
                    text-decoration: none;
                    color: #eee;
                }
            } 
        }
        .header-main {
            background: none;
            position: relative;
            
            @include respond-xs {
                height: 40px;
                background-color: $ucla-color-blue;
                opacity: 0.95;
                display: inline-block;
            }
        }

        // Contains login info
        .header-login {
            float: right;
            display: inline-block;
            clear: both;
            margin-right: 15px;
            margin-top: 15px;
            
        }
        .help-dropdown-menu {
            top: 55px;
            .arrow-up {
                left: auto;
                right: 10%;
            }
        }
        // Float buttons to the right, so they can collapse
        .btn-header {
            float: right;
            clear: right;
            margin-bottom: 2px;
        }
        .header-btn-group {
            background: none;
        }
        .header-server {
            width: 60px;
            margin-top: 8px;
            font-size: 1.0rem;
        }
        // Contains the logo link
        .header-logo {
            width: 100px;
            /*padding: 20px 0 0 15px;*/
            margin-top: 8px;
            display: inline-block;
            
            @include respond-xs {
                padding-top: 10px;
                width: 100%;
                text-align: center;
            }
        }
        .logo-ccle {
            margin-left: 0;
        }
        .header-system {
            margin-top: 8px;
            background: none;
            clear: both;
            opacity: 0.9;
        }
        .header-system-name {
            color: white !important;
            font-weight: 300;
        }
        .logo-ccle-sub {
            display: none;
        }
        .weeks-display {
            width: auto;
            max-width: 20%;
            margin-right: 15px;
            margin-top: 8px;
            text-align: right;
            
            @include respond-xs {
                max-width: 90%;
                margin-top: 16px;
                float: right;
                display: inline-block;
                clear: both;
            }
        }
    }
    
    // Reflow for tiny screens
    @include respond-xs {
        header {
            .water-mark {
                display: none;
            }
            .header-main {
                display: block;
            }
            .header-system {
                margin-top: 68px;
            }
            .help-dropdown-menu {
                left: 5%;
                width: 90%;
                top: auto;
                margin-top: -4px;
                
                .arrow-up {
                    right: 50%;
                }
            }
            .header-system-name {
                display: inline;
            }
            .header-logo {
                width: 100%;
                padding-left: 0;
                margin-top: 0;
                padding-top: 4px;
            }
            .logo-ucla {
                width: 60px;
                float: none;
            }
            .logo-ccle {
                font-size: 2.4rem;
                float: none;
                margin-left: 4px;
            }
            .header-server {
                display: inline-block;
                float: none;
                font-size: 1rem;
                margin-top: 0;
                vertical-align: text-bottom;
                width: auto;
            }
            .header-login {
                display: inline-block;
                float: none;
                clear: none;
                margin: 0;
                width: 100%;
                
                .header-btn-group {
                    float: none;
                    width: 100%;
                    text-align: center;
                }
                .btn-header {
                    width: 90%;
                    float: none;
                    clear: none;
                    display: inline-block;
                }
            }
        }
    }

    // Tweaks for tablet and above
    @include respond-sm {
        header {
            .header-server {
                font-size: 1.2rem;
            }
            .weeks-display {
                max-width: 25%;
            }
            .header-server {
                font-size: 1.2rem;
                width: 80px;
            }
            // UCLA Logo
            .logo-ucla {
                width: 70px;
                display: inline;
                float: none;
            }
            // CCLE text
            .logo-ccle {
                font-size: 2.9rem;
                float: none;
            }
        }
    }

    // Desktop and above
    @include respond-md {
        header {
            .header-main {
                .btn-header {
                    float: none;
                    clear: none;
                    display: inline-block;
                    margin-bottom: 0;
                }
                .header-btn-group {
                    background-color: $header-color-prod;
                }
            }
            
            // Contains the logo link
            .header-logo {
                width: 170px;
                /*padding: 20px 0 0 15px;*/
                display: inline-block;
            }
            .logo-ccle {
                margin-left: 4px;
            }
            .logo-ccle-sub {
                display: block;
                width: 160px;
                margin-top: 4px;
                font-size: 1.3rem;
            }
            .weeks-display {
                max-width: 30%;
            }
            .header-server {
                width: 100px;
            }
            .help-dropdown-menu {
                right: auto;
                .arrow-up {
                    right: auto;
                    left: 10%;
                }
            }
        }
    }
    
    // Large displays
    @include respond-lg {
        header {
            .weeks-display {
                max-width: 40%;
            }
        }
    }
    
    // Removes excess padding
    #maincontent ~ br {
        display: none;
    }
        
    // Reflow the structure of #page-content so it all fits in a single column
    #page-content {
        background-color: white;
        position: absolute;
        opacity: .95;
        border-left: 74px solid $ucla-blue;

        width: 60%;
        min-width: 220px;
        max-width: 600px;
        height: 100%;
        
        // Make sure content can be scrolled if needed.
        overflow-y: scroll;
         
        // Reflow for xstra small phone (portrait size)
        @include respond-xs {
            overflow-y: none;
            border-left: 0;
            width: 100%;
            position: relative;
            height: auto;
            margin-top: 100px;
            opacity: 1;
        }

        @include box-sizing(content-box);

        .region-content {
            padding: 0;
        }
        #region-main-wrap {
            right: 0;
            width: 100%;
        }
        #region-main {
            margin: 0;
        }
        #region-main-box {
            left: 0;
            width: 100%;
            margin-top: 8px;
        }
        #region-post-box {
            margin-left: 0;
            left: 0;
        }
        #region-pre {
            left: 0;
            margin-left: 0;
            width: 100%;
        }
        #region-post {
            width: 100%;
            margin-left: 0;
            margin-top: 8px;
        }

        .contentwithoutlink  {
            padding: 0;
        }
    }
    
    // Environment colors
    .env-dev #page-content {
        border-left-color: $header-color-dev;
    }
    .env-test #page-content {
        border-left-color: $header-color-test;
    }
    .env-stage #page-content {
        border-left-color: $header-color-stage;
    }

    .block  {
        margin-bottom: 0;
    }
    
    
    @include respond-sm {
        #page-content {
            border-left: 100px solid $ucla-blue;
        }
    }
    
    @include respond-md {
        #page-content {
            border-left-width: $frontpage-logo-bar-width;
            width: 50%;
        }
    }
        
    /// Customize the browseby block
    .block_ucla_browseby {
        padding: 8px;
        margin-top: 0;
        border-bottom: 1px solid #ddd;
         
        .header {
            background-color: white;
            margin-bottom: 0;
            border-bottom: 0;
            
            h2 {
                color: #222;
                text-align: center;
                font-weight: 300;
                padding: 0;
            }
        }
        ul.block_tree {
            text-align: center !important;
        }
        li.type_structure {
            border: 0;
            background-color: white;
            /*margin-left: 2px;*/
            display: inline;
            
            &:hover {
                background: none;
            }
            
            &:after {
                content: "•";
                margin-left: 4px;
                margin-right: 2px;
            }
            &:last-child:after {
                content: "";
            } 
            
            p.tree_item {
                padding: 0 !important;
                display: inline !important;
            }
        }
        a, a:link {
            color: #666  !important;
            line-height: 2.4 !important;
            width: auto !important;
            display: inline;
            font-weight: 300;
        }
        a:hover {
            color: #222 !important;
        }
    }
    
    /// Customize the search
    .block_ucla_search {
        padding: 8px;
        margin-top: 0;
        border-bottom: 1px solid #ddd;
         
        .header {
            background-color: white;
            margin-bottom: 0;
            border-bottom: 0;
            
            h2 {
                color: #222;
                text-align: center;
                font-weight: 300;
                padding: 0;
            }
        }
        
        .content {
            padding: 4px 4px 0;
            font-weight: 300;
            
            span {
                margin-right: 4px;
            }
            fieldset {
                display: inline;
            }
        }
        .ucla-search-input {
            @include border-radius(0);
        }
        // Adds more space between the inputs and the checkbox.
        #ucla-search-block {
            margin-top: 12px;
        }
    }
    
    // Customize custom text
    .box.sitetopic {
        padding: 0 16px;
        padding-bottom: 8px;
        border-bottom: 1px solid #ddd;
        margin: 0;
        
        .section {
            margin: auto 0;
        }
        .mod-indent-outer {
            padding-left: 0;
        }
        .label.modtype_label {
            &:hover {
                background-color: white;
            }
            * {
                font-size: 1.4rem;
                line-height: 1.4;
                overflow: visible;
            }
            h1 {
                font-size: 2.2rem;
                margin-top: 0;
            }
            h2 {
                font-size: 2rem;
                margin-top: 0;
            }
        }
    }
}

