//
// UCLA / Header
//

$ccle-color-logo:       #FFBC00;
$ccle-color-sublogo:    #c8dbf7;

//
// Header styles for CCLE banner.
//
// This defines a two part header.  
//  1. Logo + user buttons
//  2. System + weeks display
header {

    width: 100%;
    margin-bottom: 8px;
    
    .header-main {
        background-color: $header-color-prod;
        position: fixed;
        width: 100%;
        z-index: 3;
        height: $header-height;
    
        // System environment colors
        .env-behat & {
            background-image: none;
            background-color: $header-color-dev;
            // Need to have special style for Behat, because fixed header
            // causes elements that would be under it to be unclickable even
            // when revealed by the auto-hiding header.
            position: absolute;
        }
        .env-dev & {
            background-image: none;
            background-color: $header-color-dev;
        }
        .env-test & {
            background-image: none;
            background-color: $header-color-test;
        }
        .env-stage & {
            background-image: none;
            background-color: $header-color-stage;
        }
        
        @include respond-xs {
            position: relative;
            width: auto;
            height: auto;
            /*background: none;*/
        }
    }
    
    .header-border {
        position: absolute;
        left: 0;
        width: 100%;
        height: 40px;
        background-color: $header-color-prod;
    }
    
    .header-system {
        background-color: $header-color-system-background;
        
        font-size: 1.2rem;
        font-weight: 300;
        margin-top: $header-height + 8px;
        
        @include respond-xs {
            margin-top: 8px;
        }
    }
    
    .header-system-name {
        float: left;
        color: $header-color-system-text;
        display: inline-block;
        padding: 2px 0;
        font-weight: bold;
        text-transform: uppercase;
    }
    
    .weeks-display {
        float: right;
        display: inline-block;
        padding: 2px 4px;
        
        .week {
            font-weight: bold;
        }
    }

    .help-dropdown-menu {
        background-color: white;
        margin: 0;
        min-width: 143px;
        opacity: 0.97;
        position: absolute;
        top: 40px;
        z-index: 99999;
        
        @include box-shadow(#999 0px 1px 2px);

        &.hidden {
            display: none;
            visibility: hidden;
        }
        li {
            list-style: none;
            
            .arrow-up {
                position: absolute;
                left: 5%;
                top: -5px;
                border-bottom-color: white;
            }
            
            a {
                font-size: 1.3rem;
                display: inline-block;
                padding: 8px 10px;
                width: 100%;
                color: #333;
                
                &:hover {
                    text-decoration: none;
                }
            }
            
            &:nth-child(2n) {
                background-color: #efefef;
            }
            &:hover {
                background-color: #444;

                a {
                    color: #eee;
                }
            }
        }
        
        @include respond-xs {
            left: 5%;
            width: 90%;
            top: auto;
            margin-top: -4px;

            .arrow-up {
                left: 50%;
            }
            
            a {
                font-size: 1.4rem;
            }
        }
    }
}

// When the page displays debug output, keep the header relative so that
// it doesn't float in the middle of the page.
.debuggingmessage ~ #page .header-main {
    position: relative;
    width: 100%;
}

// Defines how header logo area looks
.header-logo {
    margin: 0 15px;
    text-align: left;
    width: 70px;
    margin-top: 2px;
    display: inline-block;
    
    // Remove the hover decoration on the logo
    a, a:hover {
        text-decoration: none;
    }
    
    // UCLA Logo
    .logo-ucla {
        width: 40px;
        display: inline;
    }

    // CCLE text
    .logo-ccle {
        color: $ccle-color-logo;
        font-weight: bold;

        font-size: 1.6rem;
        /*margin-right: 8px;*/
        /*margin-left: 4px;*/
        &:hover {text-decoration: none;}

        .env-dev &, .env-test &, .env-stage & {
            color: white;
        }
    }

    // Full CCLE text 
    .logo-ccle-sub {
        display: inline-block;
        font-size: 1.1rem;
        color: $ccle-color-sublogo;

        // Split the text in two
        .logo-cc,
        .logo-le {

            margin-right: 8px;
            display: block;

            width: 100%;
            text-transform: capitalize;
        }
        
        .env-dev &, .env-test &, .env-stage & {
            color: white;
        }
    }
    
    @include respond-xs {
        width: 100%;
        text-align: center;
        
        .logo-ucla {
            width: 70px;
            display: inline;
        }
        
        .logo-ccle {
            width: auto;
            margin-left: 4px;
            /*display: inline-block;*/
            font-size: 2.9rem;
        }
    }
    
    @include respond-sm {
        width: auto;
        
        .logo-ucla {
            width: 70px;
            display: inline;
        }
        .logo-ccle {
            color: $ccle-color-logo;
            font-weight: bold;

            font-size: 2.9rem;
            margin-right: 8px;
            margin-left: 4px;
            &:hover {text-decoration: none;}

            .env-dev &, .env-test &, .env-stage & {
                color: white;
            }
        }
    }
}

.header-login {
    float: right;
    margin-right: 15px;
    
    .header-btn-group {
        /*width: 90%;*/
        /*float: none;*/
        
        .btn-header {
            /*width: 100%;*/
        }
    }

    // For extra tiny screens
    @include respond-xs {
        float: none;
        text-align: center;
        margin-right: 0;
        
        .header-btn-group {
            width: 90%;
            float: none;
            display: inline-block;
            
            .btn-header {
                float: none;
                margin-bottom: 4px;
                width: 100%;
            }
        }
    }
    
    @include respond-sm {
        
    }
}

// Controls that are right above the breadcrumb and below the header
.navbar-controls {
    text-align: right;
    .navbutton {
        float: none;
        display: inline-block;
    }
    .control-panel {
        display: inline-block;
    }
}
