
// Center all login buttons
.alert-login {
    .continuebutton {
        margin-top: 8px;
    }
}


// Styles the special case login.
//

.loginbox {
    text-align: center;
}

// Make the login panel look like a bootstrap panel.
.loginpanel {
    @extend .panel;
    @extend .panel-default;
    
    width: 300px;
    display: inline-block;
    
    h2 {
        @extend .panel-heading;        
        margin: 0;
        font-size: 1.6rem;
        font-weight: bold;

    }

    .loginsub {
        @extend .panel-body;
        margin: 0;

        // Make the inputs 100% width and collapse them on top of each other.
        .form-label {
            width: 100%;
            text-align: left;
            
            label {
                font-weight: bold;
            }
            
        }
        .form-input {
            width: 100%;
            
            input {
                width: 100%;
                margin-bottom: 16px;
            }
        }
    }
    
    // Make the login button a primary color.
    #loginbtn {
        @extend .btn-primary;
    }
}