//
// Sassy stiles for uclashared course theme
//

.theme-uclasharedcourse {
    
    // Border used for phone responsive mode
    .header-border {
        display: none !important;
        visibility: hidden !important;
    }
    
    // Modify the general header
    header {
        // Let the main header scroll out of view
        .header-main {
            position: inherit;
            width: auto;
        }
        // Do not show (shared) system header
        .header-system {
            display: none;
        }
        
        // This class is added only when there is a custom logo.
        &.header-custom-logo {
            // Keep the background a light gray
            background-color: #eee;
            
            // Custom logos have no margins, they should be aligned from top-left corner.
            .header-logo {
                margin: 0;
            }
            // Custom logos have a light gray background.
            .header-main {
                background: none;
            }
            
            @include respond-xs {
                // Make the logos responsive
                img {
                    max-width: 100%;
                }
                
            }
        }
        
        // Clip the tanms logo for smaller screens.
        &.tanms {
            .header-logo {
                width: 180px;
                overflow: hidden;
                
                @include respond-md {
                    width: auto;
                }
                @include respond-xs {
                    display: block;
                    margin: 0 auto;
                    img {
                        max-width: inherit;
                    }
                }
            }
        }
        
        // Engineering & EXEC logo styles have slightly different look.
        &.hsseas,
        &.executive-education-program {
            height: 62px;
            
            @include respond-xs {
                height: auto;
                
                // Clip the sublogo
                .header-logo {
                    height: 40px;
                    overflow: hidden;
                }
            }
            
            .header-main {
                background-color: $header-color-prod;
            }
        }
    }
    
    // Used when there is an extra logo.
    // This will render the site title out in the theme.
    .course-logo-layout {
        position: relative;
        background-color: #f9f9f9;
        margin-bottom: 8px;
        margin-top: -8px;
        display: inline-block;
        width: 100%;
        padding: 0 15px;
        border-bottom: 1px solid #eee;
        
        // The extra custom logo
        .course-logo-image {
            display: none;
            max-width: 180px;
            float: left;
            
            // Logo becomes visible ~ tablet size
            @include respond-sm {
                display: inline-block;
            }
        }
        
        > * {
            vertical-align: bottom;
        }

        // Force the title to align to bottom of the box
        .course-logo-title {
            margin: 0;
            font-weight: 300;
            position: relative;
            bottom: 0;
            display: inline-block;
            margin-bottom: 8px;
            margin-top: 8px;

            font-size: 2.4rem;
            
            @include respond-sm {
                position: absolute;
                font-size: 3.2rem;
                margin-left: 8px;
            }
            
            @include respond-xs {
                position: relative;
            }
        }
    }
}


