// TYPE
@import "bootstrap/type";

// We're going to use rem units, so all type will 
// be relative to this size
// http://snook.ca/archives/html_and_css/font-size-with-rem
html {
    font-size: 62.5%;
    height: 100%;
}

// Make overall color slightly lighter than black
body {
    color: $type-font-color;
    font-family: $type-font-family;
    height: 100%;
}

// Fix font size for tables
body,
table {
    font-size: $type-font-size;
}

// Remove default padding for ul/ol
ul, ol {
    padding: 0;
    margin-left: 25px;
}

img.icon {
    width: auto;
    height: auto;
    @include box-sizing(content-box);
    
    &.pluginicon {
        width: 24px !important;
        height: 24px !important;
    }
}
img.iconlarge {
    height: 24px;
    width: 24px;
    vertical-align: middle;
}

.defaultuserpic {
    @include border-radius(50%);
    border: 2px solid #ddd;
}

/*#intro.generalbox {
    @extend .well;
    @extend .well-small;
    
    margin-top: 0;
}*/

// Define how links will look like
a {
    &:link {
        text-decoration: none;
        color: #536895;
    }
    &:visited {
        text-decoration: none;
        color: #536895;
    }
    &:hover {
        text-decoration: underline;
    }
}

// This is preferred boostrap way, but Moodle insists on generating
// elements with px height for no good reason, so we must also have
// exceptions to the rule.
* {
    @include box-sizing(border-box);
}
// Exceptions to box sixing:
//
// In Manage site administrators, the 'Search options' dropdown
#userselector_options {
    @include box-sizing(content-box);
}
// Moodle file manager inside an mform
.mform .ffilemanager * {
    @include box-sizing(content-box);
}
.iconhelp,
.iconsmall {
    @include box-sizing(content-box);
}
// Moodle dialogs need content-box
.moodle-dialogue-base * {
    @include box-sizing(content-box);
}
// Moodle text editors need content-box
.mceEditor *,
.feditor * {
    @include box-sizing(content-box);
}

