//
// UI packaage modifications
// --------------------------------------------------


.ui {
    &.label {
        font-size: 1rem !important;
        
        &.ribbon {
            left: -2.7rem !important;
        }
        
    }
    &.basic.accordion {
        .intro {
            font-size: 1.2rem;
            margin-bottom: 8px;
        }
        .sidebar-image {
            margin-left: 0;
            
            img {
                max-width: 275px;
                width: 100%;
            }
        }
        .title {
            font-size: 1.4rem;
            line-height: 1.3;
            font-weight: bold;
            border-bottom: 1px solid #ddd;
            
            &:last-child {
                border-botom: 0;
            }
        }
        .content, .content li {
            font-size: 1.2rem;
        }
        ul {
            margin: 4px;
            margin-left: 10px;
        }
        .glyphicon {
            margin-left: 4px;
        }
        .label-bstp {
            margin-top: 4px;
            font-size: 1.2rem;
            display: inline-block;
        }
    }
}

.navbar {
    overflow: inherit;
}