// 
// Variables
// 
// Define variables here when they are used in more than one file.
//

// UCLA colors
$ucla-color-blue:   #3283be !default;
$ucla-color-gold:   #f5bc40 !default;

// CCLE legacy colors
$ccle-color-blue:   #4168A1 !default;

// Session colors
// --------------------------------------------------

$session-fall-background-color: #ec8539 !default;
$session-fall-color: black;

$session-spring-background-color: #99cb52 !default;
$session-spring-color: black;

$session-winter-background-color: #11bcfb !default;
$session-winter-color: black;

$session-summer-background-color: #F4EC35 !default;
$session-summer-color: black;

// Header variables

/**
 * Header color for PROD header
 * 
 * @type Color
 * @group header
 */
$header-color-prod:     $ucla-color-blue !default;

/**
 * Header color for TEST header
 * 
 * @type Color
 * @group header
 */
$header-color-test:     #DA9C31 !default;

/**
 * Header color for STAGE header
 * 
 * @type Color
 * @group header
 */
$header-color-stage:    #5749A7 !default;

/**
 * Header color for development environment header
 * 
 * @type Color
 * @group header
 */
$header-color-dev:      #8fb33e !default;

/**
 * System indicator (right below header) background color
 * 
 * @type Color
 * @group header
 */
$header-color-system-background: #fff !default;

/**
 * System indicator text color
 * 
 * @type Color
 * @group header 
*/
$header-color-system-text:   $header-color-prod;

/**
 * Header height.  All elements in the header must have this height or smaller.
 * 
 * @type Number in px
 * @group header 
 */
$header-height: 40px;