<div class="sidebar-card">
  <h5 id="site-directory-text">
    <strong>{{# str }} sitedirectory, theme_uclashared {{/ str }}</strong>
  </h5>
  <div class="frontpage-site-directory">
    <div id="frontpage-search-wrapper">
      {{{ search }}}
    </div>
    <div id="frontpage-browseby-btns-wrapper">
      {{{ browseby }}}
    </div>
  </div>
</div>
