{{!
This module is responsible for rendering the header
which includes the logo, login, and need help buttons
also the log in status
}}
<div id="header">
  <div class="container-fluid">
    <div class="row">
      <div id="header-logo"></div>
      <div id="login-wrapper">
          <div class="header-login">
              <div class="header-btn-group">
                <!-- help_feedback_link -->
                {{{ output.help_feedback_link }}}
                <a href={{loginlink}}><button class="btn btn-header" id="btn-login">{{# str }} login {{/ str }}</button></a>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>
