.officehours_form input[type="text"] {
    width: 85%;
}

.officehours_form .fstatic {
    font-style: italic;
}
/* Delineate static help messages. */
.officehours_form .static-help {
    margin-bottom: 0.5em;
}
/* Remove spacing under fields with help messages. */
.officehours_form #fitem_id_email {
    margin-bottom: -0.5em;
}

.officehours_form #fitem_id_phone {
    margin-bottom: -0.5em;
}

.officehours_form #fitem_id_office {
    margin-bottom: -0.5em;
}

.officehours_form #fitem_id_officehours {
    margin-bottom: -0.5em;
}

/* make label fit long text */
.officehours_form.mform .fitem .fitemtitle {
    width: 20%;
}

.officehours_form.mform .fitem .felement {
    margin-left: 21%;
}

/* for submit buttons */
.officehours_form.mform .fitem fieldset.felement {
    margin-left: 0;
}

/* warning red text when changing office hours for all courses */
.warning-text {
    color: red;
}

div.instr-info {
    clear: both;
}

/* Style office hours block on Site info. */
.office-hours-table {
    border: 1px solid #ddd;
}
.office-hours-table thead {
    background-color: #efefef;
}
.instr-info .office-hours-table thead th {
    /* Override generaltable styles. */
    border-top: 1px solid #ddd;
    border-bottom: none;
}