.mform-invite #id_email,
.mform-invite #id_message,
.mform-invite #id_subject {
    width: 100%;
}

.mform-invite #id_message {
    height: 10rem;
}

.mform-invite .form-check-inline {
    clear: both;
    display: block;
}

.mform-invite #fitem_id_email_clarification {
    margin-top: -1.0em;
}