.ucla-search {
    fieldset div {
        display: inline-block;
        width: 3.25rem;
    }

    // Remove extra padding that Boost theme puts in.
    .form-check-label {
        padding-left: 0;
        font-weight: 300;
    }

    .search-options {
        background-color: #eceeef;
        padding-left: .75rem;
        border-radius: .25rem;
        border: 1px solid #d0d5d8;
    }

    // Remove ugly shadow around search results.
    .yui3-aclist-content {
        box-shadow: 0 0 0;
        border: 1px solid #d0d5d8;
    }

    // Search results formatting.
    .search-result {
        text-align: left;
        .shortname {
            font-weight: bold;
        }
        .fullname {
            color: #666;
        }
    }
    .search-wrapper {
      position: relative;
    }
    .fa-search {
      position: absolute;
      right: 10px;
      top: 9px;
    }
}

// Add spacing before term selector.
#browsebymain .ucla-search {
    margin-top: 1rem;
}
#region-main .ucla-search {
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
}
