.ucla-search {
    fieldset div {
        display: inline-flex;
        width: 3.25rem;
        font-size: 12px;
    }

    // Remove extra padding that Boost theme puts in.
    .form-check-label {
        padding-left: .75rem;
        margin-right: 2rem;
        font-size: 12px;
    }

    .form-check-inline .form-check-input {
        position: absolute;
        margin-top: -0.1rem;
        margin-left: -.5rem;
    }

    .search-options {
        background-color: #e9ecef; // Changed to same value as gray-200 for consistency with secondary and Browseby backgrounds.
        padding-left: .75rem;
        border-radius: .25rem;
        border: 1px solid #d0d5d8;
    }

    // Remove ugly shadow around search results.
    .yui3-aclist-content {
        box-shadow: 0 0 0;
        border: 1px solid #d0d5d8;
    }

    // Search results formatting.
    .search-result {
        text-align: left;
        .shortname {
            font-weight: bold;
        }
        .fullname {
            color: #666;
        }
    }
    .search-wrapper {
      position: relative;
    }
    .fa-search {
      position: absolute;
      right: 10px;
      top: 9px;
    }
}

// Add spacing before term selector.
#browsebymain .ucla-search {
    margin-top: 1rem;
}
#region-main .ucla-search {
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}

@media (max-width: 480px) {
    #region-main #browsebymain .ucla-search {
      text-align: left;
    } 
}
