@import "compass";

.ucla-search {
    display: inline-block;

    // YUI styles override
    .yui3-aclist {
        position: relative;
        display: inline-block;

        #browsebymain & {
            position: absolute;
        }
    }

    .yui3-aclist-list {
        border: 1px solid #eee;
        border-top: 0;
        border-bottom: 0;
        text-align: left;
    }

    .yui3-aclist-content {
        box-shadow: 0 0 0;
        border: 0;
    }

    .input-group {
        margin-top: 4px;
    }

    // Browseby overrides
    #browsebymain & {
        width: 100%;
        padding: 0 15%;
    }

    // Front page layout overrides
    &.course-search,
    .pagelayout-frontpage & {
        width: 100%;
        text-align: center;

        label {
            font-weight: 300;
        }
    }

    fieldset + .well {
        margin-top: 4px;
        margin-bottom: 4px;
    }
}

// Input box
#ucla-search,
#ucla-search-block {
    width: 100%;
    margin-top: 4px;
    
    @include border-radius(0);
}

// Search results formatting
.search-result {
    .shortname {
        font-weight: bold;

        .yui3-aclist-item-active.yui3-aclist-item-hover & {
            color: #444;
        }
    }

    .fullname {
        color: #666;

        .yui3-aclist-item-active:not(.yui3-aclist-item-hover) & {
            color: #eee;
        }
    }
}