.ucla-search {
    fieldset div {
        display: inline-flex;
        width: 3.25rem;
        font-size: 12px;
    }

    // Remove extra padding that Boost theme puts in.
    .form-check-label {
        padding-left: .75rem;
        margin-right: 2rem;
        font-size: 12px;
    }

    .form-check-inline .form-check-input {
        position: absolute;
        margin-top: -0.1rem;
        margin-left: -.5rem;
    }

    .search-options {
        background-color: #e9ecef; // Changed to same value as gray-200 for consistency with secondary and Browseby backgrounds.
        padding-left: .75rem;
        border-radius: .25rem;
        border: 1px solid #d0d5d8;
    }

    // Remove ugly shadow around search results.
    .yui3-aclist-content {
        box-shadow: 0 0 0;
        border: 1px solid #d0d5d8;
    }

    // Search results formatting.
    .search-result {
        text-align: left;
        .shortname {
            font-weight: bold;
        }
        .fullname {
            color: #666;
        }
    }

    .fa-search {
        position: absolute;
        right: 10px;
        top: 9px;
    }

    .fa-search.btn {
        right: 0;
        top: 0;
        bottom: 0;
        background-color: transparent;
        border: none;
    }
}

.search-wrapper {
    min-width: 200px;
    position: relative;
}

// Add spacing before term selector.
#browsebymain .ucla-search {
    margin-top: 1rem;
}
#region-main .ucla-search {
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}

#region-main .ucla-search.global-search,
#region-main .ucla-search.admin-search {
    margin: 0;
    max-width: 285px;
}

.global-search,
#page-header .ucla-search {
    .fa-search.btn {
        right: 0;
        top: 0;
    }

    .ucla-search-input {
        margin: 0;
        padding: .5rem .75rem;
        width: 250px;
    }
}

@media (max-width: 480px) {
    #region-main #browsebymain .ucla-search {
        text-align: left;
    }
}

@media (max-width: 575px) {
    #page-header .ucla-search {
        width: 100%;
    }

    #page-header .ucla-search .ucla-search-input {
        width: 100%;
    }

    #page-header .header-search-wrapper {
        margin-top: .75rem;
        width: 100%;
    }
}
