#ucla-alert-edit {
    border: 1px solid #cdcdcd;
    padding: 10px;
    margin: 10px;
    zoom: 1;
}

#ucla-alert-edit:after {
    display: block;
    clear: both;
    visibility: hidden;
    content: '.';
    height: 0;
}

#ucla-alert-edit ul {
    border: 1px solid #cdcdcd;
    margin: 5px;
    width: 200px;
    min-height: 200px;
    float: left;
    padding: 0;
    zoom: 1;
    position: relative;
    padding-top: 30px;
    border-radius: 4px 4px 4px 4px;
}

#ucla-alert-edit ul li {
    background-image: none;
    list-style-type: none;
    padding-left: 20px;
    padding: 5px;
    margin: 5px;
    cursor: move;
    zoom: 1;
    position: relative;
}

.alert-edit-section ul li.list1,
#ucla-alert-edit ul li.list1 {
    background-color: #8dd5e7;
    border: 1px solid #004c6d;
}

#ucla-alert-edit ul li.list2 {
    background-color: #edff9f;
    border: 1px solid #cdcdcd;
}

// ALERT EDIT STYLES 
.alert-edit-header,
.alert-edit-section {
    border: 1px solid #cdcdcd;
    display: block;
    float: left;
    width: auto;
    margin: 10px;
}

.alert-edit-header {
    margin: 0;
    border: 0;
    border-right: 1px solid #cdcdcd;
    min-height: 600px;
}

.alert-edit-header .header-box {
    margin: 5px;
}

#ucla-alert-edit .block-ucla-alert .box-section-title {
    border-top: 0;
    padding: 4px 8px 0 8px;
}

.alert-edit-header ul li.alert-edit-item,
.alert-edit-section ul li.alert-edit-item {
    background-color: #fafaf8;
    border: 1px dashed gray;
    margin: 5px;
}

#ucla-alert-edit ul:after {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 4px 0 4px 0;
    content: "Section content";
    left: -1px;
    padding: 3px 7px;
    position: absolute;
    top: -1px;
    font-weight: bold;
    font-size: .9em;
    color: #9da0a4;
}

// ITEM EDIT TEXT BOX 
.alert-edit-text-box {
    border: 1px solid #cdcdcd;
    padding: 5px;
    background-color: white;
    display: none;
}

.alert-edit-textarea {
    border: 0;
    width: 100%;
}

.alert-edit-button-box {
    border-top: 1px solid #cdcdcd;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: -2px;
    background-color: white;
    text-align: right;
}

.alert-edit-commit-box {
    width: 100%;
    display: block;
    float: left;
    clear: both;
    text-align: right;
    border-top: 1px solid #ddd;
    padding: 10px;
    background-color: #f9f9f9;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.alert-edit-scratch-add {
    border-top: 1px solid #ddd;
    margin: 5px;
    padding: 5px;
    display: block;
    clear: left;
}

.alert-edit-add {
    width: 100%;
}

// Block editing button 
.alert-block-edit-on-btn {
    width: 80%;
}

.region-content .ucla-alert .content .box-boundary.alert-block-edit-on-box {
    text-align: center;
    border-top: 1px solid #ebebe2;
    padding-bottom: 0;
    padding-top: 4px;
}

// Tutorial 

.edit-alert-tutorial {
    width: 100%;
    padding: 8px;
    border-top: 1px solid #ddd;
    display: block;
    float: left;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.edit-alert-tutorial h1 {
    margin-bottom: 4px;
}

.edit-alert-tutorial .edit-alert-tutorial-summary {
    margin-bottom: 8px;
}

.edit-alert-tutorial .edit-alert-tutorial-summary span {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    padding: 0 6px;
    border-radius: 4px 4px 4px 4px;
}

.edit-alert-tutorial div.box-boundary {
    width: 200px;
    float: left;
    border: 1px solid #ddd;
    margin: 5px;
    padding: 4px;
    position: relative;
    padding-top: 30px;
    border-radius: 4px 0 4px 0;
}

.edit-alert-tutorial div.box-boundary:after {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 4px 0 4px 0;
    color: #9da0a4;
    content: "Tutorial";
    font-size: 0.9em;
    font-weight: bold;
    left: -1px;
    padding: 3px 7px;
    position: absolute;
    top: -1px;
}

#ucla-alert-edit {
    .alert-edit-header 
    .header-box {
        font-weight: 300;
        min-height: 30px;
        padding: 4px 0;
        text-align: center;

        .header-title {
            font-size: 2rem;
        }

        &:hover {
            background-color: #f9f9f9;
        }

        &.alert-header-default {
            background-color: #dcf3d8;
            border-bottom: 4px solid $alert-green;
        }

        &.alert-header-blue {
            background-color: #d8f2f2;
            border-bottom: 4px solid $alert-blue;
        }

        &.alert-header-red {
            background-color: $alert-red;
            border-bottom: 4px solid $alert-red;
            color: white;
        }

        &.alert-header-yellow {
            background-color: #f8f7dd;
            border-bottom: 4px solid $alert-yellow;
        }

        &.alert-header-empty {
            border: 1px solid #ddd;
        }

        &.header-selected {
            border: 4px solid black;

            &:before {
                color: black;
                content: '✔ selected';
                font-size: 1.5em;
                font-weight: bold;
                left: -1px;
                padding: 3px 7px;
                position: relative;
                top: -1px;
            }
        }
    }
}