// Define alert color vars
$alert-blue: #389998;
$alert-red: #d64f33;
$alert-green: #88b851;
$alert-yellow: #edb83d;
$alert-colors: (
    blue $alert-blue, red $alert-red, green $alert-green, yellow $alert-yellow
);

@import "edit";

.edit-alert-tutorial,
.alert-edit-section,
.block_ucla_alert {
    font-weight: 300;

    .header-box {
        font-weight: 300;
        text-align: center;
        margin-bottom: 4px;
        padding-bottom: 2px;
        /*background-color: #f5f5f5;*/
        padding-top: 2px;

        .pagelayout-frontpage & {
            background: none;
        }

        .header-title {
            font-size: 1.8rem;
        }

        &.alert-header-default {
            background-color: #dcf3d8;
            border-bottom: 4px solid $alert-green;
        }

        &.alert-header-blue {
            background-color: #d8f2f2;
            border-bottom: 4px solid $alert-blue;
        }

        &.alert-header-red {
            background-color: $alert-red;
            border-bottom: 4px solid $alert-red;
        }

        &.alert-header-yellow {
            background-color: #f8f7dd;
            border-bottom: 4px solid $alert-yellow;
        }

        &.alert-header-empty {
            border: 0;
        }

        + .box-boundary > .box-section-title {
            padding: 0;
        }
    }

    .box-boundary {
        margin-bottom: 8px;

        > .box-section-title {
            text-transform: uppercase;
            background-color: #eee;
            padding: 8px 6px;
            margin-bottom: 8px;

            // For the frontpage, make this box to box
            .pagelayout-frontpage & {
                margin-left: -8px;
                margin-right: -8px;
                text-align: center;
            }
        }

        > .box-title {
            font-weight: bold;
            margin-bottom: 4px;
            padding-bottom: 2px;
            border-bottom: 1px solid #eee;
        }

        > .box-text {
            padding: 2px;
        }

        > .box-list {
            margin-left: 2px;
            border-left: 2px solid #ddd;
            padding-left: 2px;
            margin-bottom: 4px;
        }

        .pagelayout-frontpage & {
            padding-left: 8px;
            padding-right: 8px;
        }
    }

    .edit-alert-tutorial-summary {
        font-weight: normal;
    }
}

.banner-ucla-alert {
    width: 100%;
    
    .banner-ucla-alert-content {
        border: 1px solid $alert-red;
        background-color: #fafaf8;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.067);
    }

    .banner-alert-section {
        padding: 4px;
        display: inline-block;
    }

    .banner-alert-header {
        padding: 6px 8px;
        text-align: right;
    }

    .alert-header-red {
        background-color: $alert-red;
        color: white;
        font-weight: 300;
        clear: both;
        display: inline-block;

        @media only screen and (max-width: 600px) {
            text-align: center;
            width: 100%;
        }

        .header-title {
            font-size: 1.6rem;
            text-transform: uppercase;
        }

        .header-subtitle {
            font-size: 1.2rem;
        }
    }
}

// Make alert block display better in Boost theme.
.block_ucla_alert .card-block {
    padding: 0;
    .box-boundary {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
}