/**
 * Styles related to course information.
 */

.course-content {
    // Registrar info in the 'site info' summary.
    .registrar-info {
        color: #878787;
        line-height: 1.2;
        font-weight: 300;
        padding-bottom: 10px;

        .cancelled-course {
            text-decoration: line-through;
        }
    }

    .registrar-info.registrar-summary-hidden {
        border-bottom: 0;
        margin-bottom: 4px;
    }

    .registrar-summary-hidden {
        .collapse-toggle-container {
            border-top: 1px solid #ddd;
            width: 100%;
            text-align: center;
            display: inline-block;

            .collapse-toggle {
                font-size: 0.8rem;
                color: black;
                position: relative;
                top: -12px;
                background-color: white;
                padding: 2px 12px;
                font-weight: bold;

                &:hover {
                    background-color: #efefef;
                    border: 1px solid #ddd;
                    text-decoration: none;
                }
            }
        }

        .text_to_html {
            display: none;
            border-top: 1px solid #ddd;
            padding-top: 8px;
        }
    }
}