//
// CCLE / COURSE / editing mode
// --------------------------------------------------

// UCLA format specific
.ucla-format {
    
    // This styles the 'Add activity or resource' area + button
    .section-modchooser {
        border-top: 4px solid #ccc;
        margin-bottom: 10px;
        padding: 10px;

        .section-modchooser-link {
            display: inline-block;
            color: #fff;
            background-color: $btn-color-editing;
            border-color: #f0892c;
            margin-bottom: 0;
            font-weight: normal;
            text-align: center;
            vertical-align: middle;
            cursor: pointer;
            background-image: none;
            border: 1px solid transparent;
            white-space: nowrap;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.42857;
            border-radius: 4px;
            user-select: none;
            a {
                color: white;
                text-decoration: none;
            }
            a .icon {
                color: white;
            }
        }
        .section-modchooser-link:hover {
            color: white;
            background-color: darken($btn-color-editing, 10%);
            border-color: darken($btn-color-editing, 10%);
        }
    }
}