//
// CCLE / COURSE / editing mode
// --------------------------------------------------

$editing-link-color: orangered;

// UCLA format specific
.ucla-format {

    // Converts some icons to text.
    $collection: (
        editing_section,
        editing_showhide,
        edit_course_summary
    );

    @each $icon in $collection {
        a.#{$icon} {
            color: $editing-link-color !important;
            // Must display as inline-block so make click-able in Safari
            display: inline-block;

            &:after {
                margin-left: 2px;
                margin-right: 12px;
            }
        }
    }

    // Use the editing color for the 'Edit' link.
    .moodle-actionmenu {
        .textmenu {
            color: $editing-link-color;
        }
    }

    // Give the 'pencil' icon some room.
    .groupinglabel {
        margin-right: 4px;
    }

    /// ucla edit links that appear below section names.
    .jit-links {
        margin-top: 2px;
        padding-left: 42px;
        background: url([[pix:theme|jit_links]]) 8px 1px no-repeat;
        display: inline;
        position: relative;

        > a:link,
        > a {
            color: $editing-link-color;
            margin-right: 12px;
        }
    }
    
    // Creates extra space for the .course-content boundary and 
    // prevents the 'Edit' menu from opening above the 'Edit' link
    .section-modchooser {
        .single-section & {
            height: 300px;
        }
    }

    // We don't allow useres to add sections via these buttons.
    .changenumsections {
        display: none;
        visibility: hidden;
    }
    
    // This styles the 'Add activity or resource' area + button
    .section-modchooser,
    .section_add_menus {
        border-top: 4px solid #ccc;
        margin-bottom: 10px;
        padding: 10px;

        .section-modchooser-link {
            display: inline-block;

            // Remove moodle default icon, and display glyphicon instead
            .smallicon {display: none;}
            a:before {
                @include glyphicon("\2b");
                margin-right: 4px;
            }
        }
    }
}