@import "topics";   // Include the topics css as a base.

// Import theme files.
@import "../../../../theme/uclashared/scss/variables";
@import "../../../../theme/boost/scss/bootstrap/variables";
@import "../../../../theme/boost/scss/bootstrap/mixins";
@import "../../../../theme/boost/scss/bootstrap/tags";

@import "course";
@import "editing";

.format-ucla {
    // The section name.
    .single-section h3.sectionname {
        text-align: left;
    }

    // Put a border around hidden sections.
    .hidden .content {
        border: 4px dotted #ccc;
    }

    // Add zebra stripes + hover effect to the module list.
    li.activity {        
        border-top: 1px solid #f5f5f5;

        // Make 'label' resources always display white background.
        &:not(.label) {
            &:nth-child(2n) {
                background-color: #f9f9f9;
            }
            &:hover {
                background-color: #f5f5f5;
            }
        }
        &.label:hover {
            background-color: white !important;
        }
    }

    .course-content {
        // Remove extra padding to left of modules.
        ul.section {
            margin: 1rem 0;
            padding-left: 0;
        }

        // Made activity completion checkmark.
        form.togglecompletion {
            display: inline;
            margin-right: 6px;
            margin-left: 4px;
        }
    }

    // Use the editing color for the 'Edit' link.
    .section-cm-edit-actions {
        .dropdown-toggle {
            color: $link-color-editing;
        }
    }

    // Label for Access restrictions.
    .groupinglabel {
        @extend .tag;
        background-color: none;
        border: 1px solid #ddd;
        color: #999;
        display: inline-block;
        margin-left: 12px;
    }

    // Override Moodle styles.
    .section {
        li.activity {
            padding: 5px 10px;
        }
        .activity .activityinstance {
            > a {
                display: inline;
                padding-left: 0;
            }

            .groupinglabel {
                padding: .2em .6em;
            }
        }
    }
}

