@import "uclatheme";
@import "course";
@import "editing";


// UCLA format namespace
.ucla-format {
    margin: auto 0;

    // Color links UCLA blue
    a,
    a:link {
        color: $ucla-blue;
    }
    // The section name.
    h3.sectionname {
        color: $ucla-blue;
        text-align: left !important;
    }

    .sectionheader {
        border-bottom: 1px solid #ccc;
    }

    // ucla format sections
    .section {
        list-style: none;

        // Style hidden sections
        &.hidden {
            padding-left: 10px;
            color: #ddd;

            // Hidden means visible NOT hidden!
            display: block !important;
            visibility: visible !important;

            .content {
                padding: 4px;
                border: 2px dashed #ddd;

                .single-section & {
                    border: 0;
                }
            }

            .sectionname:after {
                @include hidden-label(1.8rem);
            }
        }

        // contains the 'move section' icon
        .left {
            margin-top: 8px;
            margin-bottom: 4px;
            background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAFUlEQVQImWNgQAPPnj37T3UBBgYGAMjZEnZyZfyLAAAAAElFTkSuQmCC);

            /*border: 1px dashed #ccc;*/
            .spacer {
                display: none;
            }

            .section-handle {
                padding: 2px;

                &:after {
                    content: "Move section";
                    margin-left: 8px;
                    font-size: 1.2rem;
                    padding-top: 4px;
                    color: #888;
                }
            }
        }

        .right {
            float: right;

            > br {
                display: none;
            }
        }
    }

    // This is an editable activity list.  This is where the we add
    // zebra stripes + hover effect to the list.
    li.activity {
        padding: 5px 10px;
        border-top: 1px solid #f5f5f5;

        // Make 'label' resources always display white background
        &:not(.label) {
            &:nth-child(2n) {
                background-color: #f9f9f9;
            }

            &:hover {
                background-color: #f5f5f5;
            }
        }

        &.label:hover {
            background-color: white !important;
        }

        // Add a dashed line to indicate where target will drop
        &.yui3-dd-draggable + &.yui3-dd-drop-active-valid {
            border-top: 2px dashed orangered;
        }
    }

    .registrar-info {
        .cancelled-course {
            text-decoration: line-through;
        }
    }
}

// format_ucla namespace

.format-ucla {
    // Course header
    .site-title {
        color: #444;
        margin-top: 0;
        margin-bottom: 8px;
        font-weight: 300;
        padding-bottom: 4px;
        border-bottom: 2px solid #ccc;
    }

    .site-meta {
        font-size: 1.2rem;
        color: #444;
        font-weight: 300;
    }

    .site-title-divider {
        width: 100%;
        display: inline-block;
        height: 4px;
        background-color: $ccle-blue;
        float: left;
        margin-top: 4px;
        margin-bottom: 4px;
        display: none;
    }

    // Registrar info in the 'site info' summary
    .registrar-info {
        color: #878787;
        line-height: 1.2;
        font-weight: 300;
        border-bottom: 1px solid #ccc;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }

    .course-content {
        .single-section {
            margin-top: 8px;
        }
    }
}