
// This is the area where the 'editing button sits'

.navbutton {
    // The editing button
    .singlebutton input[type="submit"] {
        @extend %btn-editing-mode;
    }
    
    // Forum and Wiki search button
    .wikisearch,
    .forumsearch {

        input[alt="search"] {
            @extend .form-control; 
            @extend .input-xs;
            display: inline-block !important;
        }
        input[type="submit"] {
            @extend %btn-forum-search;
        }
    }
}

// The control panel is rendered as a single-button.
.control-panel {
    input[type="submit"] {
        @extend %btn-control-panel;
    }
}

///
// Moodle overrides
// --------------------------------------------------

input[type="button"],
input[type="submit"] {
    @extend .btn;
    @extend .btn-default;
    
    // support console
    // course requestor
    #tool_uclacourserequestor &, 
    .uclaconsole &,
    .ucla-search & {
        @extend .btn;
        @extend .btn-primary;
    }
}

// Form buttons
.mform {
    .collapseexpand {
        @extend .btn;
        @extend .btn-link;
    }
    input[name="submitbutton"] {
        @extend .btn;
        @extend .btn-primary;
    }
}



.pagelayout-redirect {
    text-align: center;
    
    .continuebutton {
        @extend .btn;
        @extend .btn-success;
        @extend .btn-lg;
        
        a, a:link {color: white}
        a:hover {text-decoration: none}
    }
}

.section-modchooser-link {
    @extend .btn;
    @extend .btn-warning;
    
    > a, > a:link {
        color: white;
        &:hover {text-decoration: none;}
    }
}

.alert-login {
    input[type="submit"] {
        @extend .btn;
        @extend .btn-primary;
    }
}

.control-panel {
/*    input[type="submit"] {
        @extend .btn;
        @extend .btn-cpanel;
        @extend .btn-sm;
    }*/

    // Grades button
    .btn-grades-container {
        display: none;
        width: 50%;
        float: left;

        input[type="submit"] {

            @extend .btn;
            @extend .btn-primary;
            @extend .btn-sm;

            @include border-right-radius(0);
        }
    }

    // In responsive mode, display grade & control panel buttons
    // side by side for students.
/*    @include respond-to(handhelds) {
        .btn-grades-container {
            display: block;
        }
        .btn-cpanel-container {
            width: 50%;
            float: right;
            input[type="submit"] {
                @include border-left-radius(0);
            }
        }
    }*/
}
