
.pagination {
    text-align: center;

    // Highlight active state
    .active-page {
        &,
        &:hover,
            &:focus {
            z-index: 2;
            color: $pagination-active-color;
            background-color: $pagination-active-bg;
            border-color: $pagination-active-border;
            cursor: default;
        }
    }
    
    // Add back the ellipsis.
    a[title="Prev"] {
        margin-right: 30px;
        &:after {
            content: "...";
            display: inline-block;
            margin-right: -32px;
            margin-left: 20px;
        }
    }
    a[title="Next"] {
        margin-left: 30px;
        
        &:before {
            content: "...";
            display: inline-block;
            margin-left: -32px;
            margin-right: 20px;
        }
    }
}
