@import "../../uclashared/scss/pre";
// Copied from ../../boost/scss/bootstrap/variables" because cannot include
// this file directly due to dependancies on other Bootstrap files.
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;
@import "../../boost/scss/bootstrap/mixins/breakpoints";

nav.header-custom-logo {
    // Custom logos have no margins, they should be aligned from top-left corner.
    .header-logo {
        margin: 0;
    }

    &.tanms {
        // Override blue background.
        .header-main {
            background-color: #eee;
        }
        .header-login {
            background-color: $header-color-prod;
            margin-right: 0;
        }

        // Clip the tanms logo for smaller screens.
        .header-logo {
            width: 180px;
            overflow: hidden;
            float: left;

            @include media-breakpoint-up(md) {
                width: auto;
            }
            @include media-breakpoint-up(xs) {
                display: block;
                img {
                    max-width: inherit;
                }
            }
        }
    }

    &.teaching_heritage_languages {
        // Logo uses old blue background.
        .header-main {
            background-color: #3284bf;
        }
    }

    &.executive_education_program {
        // Need help/User menu gets shifted for this category.
        .usermenu {
            margin-top: -0.3rem;
        }
        @include media-breakpoint-down(sm) {
            .btn-help-feedback {
                margin-top: -0.4rem;
            }
        }
        // Show bottom banner.
        .header-bottom {
            background-color: #eee;
            height: 20px;
            margin: 40px -1rem 0 -1rem;
        }
        @include media-breakpoint-down(xs) {
            // Clip the sublogo.
            .header-main {
                height: 40px;
                overflow: hidden;
            }
            // Hide bottom banner.
            .header-bottom {
                display: none;
            }
        }
    }
}

// Course logos.
.uclashared-course-logo {
    img {
        max-height: 3rem;
    }
}