/**
 *  Old styles carried over.
 **/

#browsebymain table {
    width: 100%;
}

#browsebymain .list0 {
    list-style: none outside none;
    padding: 10px 0 0 0;
    margin: 0;
    min-width: 295px;
    width: 100%;
    float: left;
}

#browsebymain .list1 {
    list-style: none outside none;
    padding: 10px 0 0 0;
    margin: 0;
    min-width: 295px;
    width: 50%;
    float: left;
}

#browsebymain .flattened-list li {
    display: inline;
    padding: 8px;
    font-size: 16px;
    font-weight: bold;
    float: left;
}

#browsebymain .browsebylist {
    /*min-width: 590px;*/
    width: 100%;
}

#browsebycourseslist tbody tr td {
    text-align: left;
}

#browsebycourseslist thead {
    background-color: #536895;
}

#browsebycourseslist .r0 {
    background-color: #eee;
}

#browsebycourseslist .header {
    background-color: #536895;
    color: white;
}

#browsebycourseslist .summersession td {
}

#browsebycourseslist .cell {
    background-color: inherit;
}

/* make syllabus column as narrow as possible */
#browsebycourseslist .cell.c0 {
    width: 16px;
    text-align: center;
}

#browsebymain h3 {
    padding: 4px 0 4px 0;
    clear: both;
}

.block_ucla_browseby.block_ucla_course_menu .header {
    display: block;
}

// Brand new Sassy styles

#browsebymain {
    .instructor-list.list0 {
        li {
            border: 0;
            width: 60px;
            height: 60px;
            float: left;
            margin-right: 10px;
            font-size: 2rem;
            text-align: center;
            vertical-align: middle;
            line-height: 2.5;

            a {
                width: 100%;
                display: inline-block;
            }
        }
    }
}