.bruincasttable td {
    width: 10%;
}

#bruincast-content-table .btn a {
    color: white;
}

#bruincast-content-table .btn {
    padding-right: 1.0em;
}

#bruincast-content-table .header a:link {
    text-decoration: none;
}

#bruincast-content-table .header i {
    color: #000000;
    padding-left: 5px;
}