//
// FORM
// --------------------------------------------------

@import "bootstrap/forms";

// 
// Boostrap love
// --------------------------------------------------

// Modify default boostrap:
//      * remove focus glow
//      * remove inset shadow
//      * makes border wider
.form-control {
    width: auto;
    border: 2px solid #ddd;
    display: inline;
    margin-right: 8px;
    
    @include box-shadow(inset 0 0 0 rgba(0,0,0,.075));
    @include transition(border-color ease-in-out .15s);
    
    &:focus {
        @include box-shadow(0 0 0 rgba(0,0,0,.075));
    }
}

// A slightly smaller input form.
.input-xs {
    height: 29px;
}

// Moodle overrides
// --------------------------------------------------

$ccle-form-border-focus: #f5ac23;
$ccle-form-error-color: #D44950;

label {
    font-weight: normal;
}

input {
    font-family: $type-font-family;
}



/// Moodle forms love
.mform {
    
    legend {
        font-weight: normal;
        
        a, a:link, a:hover {
            color: $type-font-color;
            text-decoration: none;
            font-weight: normal;
        }
    }
    
    fieldset {
        @extend fieldset;
        
        // Date selector needs to display inline
        &.fdate_selector {
            > select {display: inline;}
        }
    }
    
    // Cancel buttons display as links
    .btn-cancel {
        border: 0;
    }
    
    // Required fields get some extra attention
    .required {
        label {
            color: #D44950;
        }
        .error {
            .error {
                @extend .label-bstp;
                @extend .label-danger;
                
                margin: 8px;
                display: inline-block !important;
                
                > br {
                    display: none;
                }
            }
            
            & + input[type="text"] {
                border-color: $ccle-form-error-color;
                float: left;
            }           
        }
    }
}

// Filter forms (Enrolled users)
// This flattens out the form
#page-enrol-users {

    .enrol_user_buttons {
        margin: 8px 0;
    }
    #filterform {
        margin: 8px 0;

        fieldset > div {
            float: left;
            width: 100%;
            background-color: white;
        }
        .fitem, .fitemtitle, .felement {
            float: left;
            margin-right: 8px;
        }
    }
}

.form-shortname {
    color: #999;
}

// Checkbox labels. Bootstrap puts the associated checkbox inside the label.
// Moodle puts it beside the label, so we need to make it inline-block
// to keep it on the same horizontal level.
input[type="radio"] + label,
input[type="checkbox"] + label {
    display: inline;
    padding-left: 0.2em;
}

// Backup and Restore checkbox aligns the texts to left and blocks them.
#page-backup-backup, #page-backup-restore, #page-backup-import {
    .fitem, .fitemtitle, .felement {
        text-align: left;
        display: block;
    }
}
