//
// Moodle override CSS
//

// Always need the compass library
@import "compass";

// Core variables and mixins
@import "ucla/variables";
@import "variables";
@import "mixins";

// Dependencies
// -------------------

@import "ucla/buttons";
@import "labels";
@import "form";
@import "bootstrap/wells";

// Moodle overriding CSS
// -------------------

@import "moodle/undo";
@import "moodle/core";
@import "moodle/blocks";
@import "moodle/gradebook";
@import "moodle/report";
@import "moodle/admin";
@import "moodle/category_management";
@import "moodle/forum";
@import "moodle/calendar";
@import "moodle/wiki";
@import "moodle/turnitin";
@import "moodle/action_menu";
@import "moodle/quiz";
@import "moodle/chat";
@import "moodle/filepicker";
@import "moodle/dialog";
@import "moodle/usermenu";

// Moodle activities/resources
@import "moodle/mod_label";
@import "moodle/atto";
