//
// UCLASHARED Theme SASS
// --------------------------------------------------

// Need compass library
@import "compass";

//
// REQUIRED THEME COMPONENTS
// --------------------------------------------------


// When we override Bootstrap, we create an analogous file for it and 
// put all overrides in there.  If we don't modify Bootstrap, we just 
// pull the file directly.


// Core variables and mixins
@import "ucla/variables";
@import "variables";
@import "mixins";

// Reset
/*@import "bootstrap/lib/normalize";*/

// Core CSS
// -------------------
@import "type";
@import "form";
@import "moodle/adapter/form";

@import "ucla/buttons";
@import "moodle/adapter/buttons";

@import "tables";
@import "moodle/adapter/table";
@import "bootstrap/grid";


// Components
// -------------------
@import "ucla/header";

@import "ucla/fontawesome";
@import "footer";
@import "ucla/alerts";
@import "moodle/adapter/alerts";
@import "bootstrap/navs";
@import "progress-bars";
@import "bootstrap/panels";
@import "moodle/adapter/panels";
@import "labels";
@import "ucla/glyphicons";

@import "bootstrap/button-groups";

@import "bootstrap/pagination";
@import "moodle/adapter/pagination";

@import "bootstrap/input-groups";
@import "ucla/breadcrumbs";
@import "bootstrap/wells";
@import "bootstrap/badges";

// Media queries
// -------------------
// Adds responsive capabilities to moodle's layout
@import "responsive-utilities";
@import "responsive";


// Load CCLE Moodle specific elements
// This course, and plugin styles
// --------------------------------------------------
@import "ucla/login";
@import "ucla/utilities";
@import "ucla/ui_mods";

// Moodle
@import "moodle/undo";
@import "moodle/core";
@import "moodle/blocks";
@import "moodle/gradebook";
@import "moodle/report";
@import "moodle/admin";
@import "moodle/category_management";
@import "moodle/forum";
@import "moodle/calendar";
@import "moodle/wiki";
@import "moodle/turnitin";
@import "moodle/action_menu";
