/**
 * Styles for UCLA stats console
 *
 * @package    report
 * @subpackage uclastats
 * @copyright  UC Regents
 */

.uclastats-report-list {
    float: right;
    min-width: 200px;
}

#page-admin-report-uclastats-view .run-form {
    width: 65%;
}

.cached-results-table .current-result .cell {
    background-color: #ffb300 !important;
}

.cached-results-table .locked {
    font-weight: bold;
}

.cached-results-table .editing_links a {
    margin-right: 1.0em;
}

.cached-results-table .edit {
    color: #f66;
}

#page-admin-report-uclastats-view .parameters {
    background: #fefcf6;
    border: 1px solid #b7aa96;
    padding: 0.5em;
    width: 65%;
}

#page-admin-report-uclastats-view table {
    width: auto;
}