//
// PROGRESS BARS
// --------------------------------------------------

@import "bootstrap/progress-bars";


// Modify the drag & drop display
// --------------------------------------------------

.dndupload-preview {
    margin: 8px;
    border: 4px dashed #2d7bc6;
    background-color: #efefef;
    height: 100px;
    width: 100%;
    line-height: 16px;
    
    @include border-radius(8px);
    
    .mod-indent {
        text-align: center;
        vertical-align: center;
        display: inline-block;
        width: 100%;

        img {
            display: none;
        }
        .instancename {
            display: inline-block;
            margin-top: 30px;
            font-size: 2.5rem;
            font-weight: bold;
            text-shadow: 0px 2px 3px #fff;
            &:before {
                content: "+";
                font-weight: bold;
                font-size: 3.2rem;
                margin-right: 8px;
            }
        }
    }
}

.dndupload-hidden {
    display: inline-block;
    border: 4px dashed #ddd;
}

#dndupload-status {
    width:40%;
    margin:0 30%;
    padding:6px;
    border:1px solid #ddd;
    top:40px;
    text-align:center;
    background:#ffc;
    position:absolute;
    left:100;box-shadow:2px 2px 5px 1px #ccc;
    border-radius:0px 0px 8px 8px;
    z-index: 1;
}


/// Modify the progress bar
// --------------------------------------------------

// Do this only for editing mode
.editing {
    // Make the progress bar 100% width
    .activity > .mod-indent {
        display: inline !important;

        > .activityinstance {
            padding-right: 0 !important;
            display: inline-block !important;
            width: 100%;
        }
    }
}

// Inherit bootstrap styles.
.dndupload-progress-outer {
    @extend .progress;
    @extend .progress-striped;
    @extend .active;
    
    margin-top: 8px;
    width: 100%;
    border-color: #ddd;
}
.dndupload-progress-inner {
    @extend .progress-bar;
}