ul {
    padding-left: 2rem;
}

#page-course-management .category-listing .dropdown .dropdown-toggle:after {
    display:none;
}

// Make action menu links clickable anywhere in the row.
.dropdown-item a {
    position: relative;

    &:after {
        content: "";
        position: absolute;
        left: -20px;
        right: -20px;
        padding: 8px 25px 35px 0px;
        bottom: -12px;
    }
}

.dropdown-item .m-l-1 {
    position: relative;

    &:after {
        content: "";
        position: absolute;
        left: -35px;
        right: -5px;
        padding: 8px 25px 35px 0px;
        bottom: -12px;
    }
}

.generaltable .ics-course td {
    white-space: pre;
}

/* CCLE-7143 - Reimplement CCLE-5967 Simplify activity chooser. */
.jschooser .choosercontainer #chooseform .instruction .modchooserinstruction {
    font-style: italic;
}
.choosercontainer #chooseform .option .typename .star img,
.choosercontainer #chooseform .nonoption .typename .star img {
    float: right;
    margin-right: -25px;
    cursor: pointer;
}

.choosercontainer #chooseform .option .typename .star_empty img,
.choosercontainer #chooseform .nonoption .typename .star_empty img {
    float: right;
    margin-right: -25px;
    cursor: pointer;
}

// Make special class to have fixed headers and first column for tables.
// Taken from https://jsfiddle.net/RMarsh/bzuasLcz/3/
table.stickyheader {
    position: relative;
    overflow: hidden;
    border-collapse: collapse;
}
#page-admin-roles-allow table.stickyheader {
    td, th {
        border: 1px solid $gray;
    }
}
.stickyheader thead {
    position: relative;
    display: block; // Separates the header from the body allowing it to be positioned.
    overflow: visible;
}
#page-admin-roles-allow .stickyheader th {
    background-color: $gray-lightest;
    min-width: 120px;
    height: 32px;
}
// First cell in the header.
#page-admin-roles-allow .stickyheader thead th:nth-child(1) {
    position: relative;
    background-color: $gray-lightest;
}
.stickyheader tbody {
    position: relative;
    display: block; // Separates the tbody from the header.
    overflow: scroll;
}
#page-admin-roles-allow .stickyheader tbody td {
    min-width: 120px;
}
// The first cell in each tr.
#page-admin-roles-allow .stickyheader tbody tr td:nth-child(1) {
    position: relative;
    display: block; // Separates the first column from the tbody.
    background: $gray-lightest;
}

// Make pagination bar scrollable when too long
.pagination {
    overflow: auto;
}

// Format course request tables.
#uclacourserequestor_requests.generaltable {
    th, td {
        text-align: center;
        vertical-align: middle !important; // Overrides the vertical-align: top in index.php for course requestor.
    }
    // Set all header cells to the blue background.
    .header {
        background-color: #536895;
    }
}