#coursecat-management #course-category-listings .listing-pagination .yui3-button {
    background-color: $gray-200;

    &.active-page {
        background-color: $gray-700;
    }
}

#page-course-format-ucla-admin_panel .admin-panel .container .admin-panel-row:last-child .col-md-4:nth-child(3) {
    background:   #f9fb7d;
    padding: 25px;
    border-radius: 15px;
} 

.coursebox .content .summary {
    float: right;
    width: inherit;
}

.pagelayout-incourse #page #page-content #region-main .m-t-2 {
    margin-top: 30.5rem !important;
}
#page-course-view-ucla .modchooserinstruction {
    background: #f9fb7d;
    padding: 0 25px 25px 25px;
    margin: 80px 0 0 -5px;
    text-align: center;
    border-radius: 15px;
}

#page-course-view-ucla .custmclink {
    background: #f9fb7d;
    padding: 25px;
    margin: 55px 0 0 -5px;
    text-align: center;
    border-radius: 15px;
}