/**
 * File for form styles.
 */

// Hides underline for required icon.
abbr[title], abbr[data-original-title] {
    border-bottom: none;
}

#id_cancelbutton1, #id_cancelbutton2 {
    @extend .btn-secondary;
}

// Accomodates for &nbsp at beginning of flatpickr div.
.flatpickr {
    margin-left: -0.39em;
}


#page-backup-import .form-control {
    display: inline-block;
    max-width: 100%;
    width: auto;
}

#page-backup-import .btn-primary {
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-users {
    position: relative;
    direction: ltr;
    display: inline-block;
    max-width: 100%;
    width: auto;
}

#page-course-view-ucla .form-autocomplete-downarrow {
    color: $body-color;
    position:absolute;
    bottom:2px;
    right:5px;
    left: initial;
    margin-top: 5px;
    cursor: pointer;
}

#page-course-view-ucla :target::before {
    content: "";
    display: block;
    height: 50px;
    margin-top: -50px;
}

@media (min-width: 280px) {
    .form-users .form-control {
        width: auto;
        display: inline-block;
        vertical-align: middle;
    }
}