// Prevents the dropdown menu from changing positions depending on the selection.
.path-grade-report #maincontent + .urlselect {
	left: auto;
	display: block;
	position: inherit;
	margin-bottom: 7px;
}

// Shows states for toggle icons in Grader report.
.gradereport-grader-table th.c1.lastcol {
    a .icon.fa-plus,
    a .icon.fa-minus,
    a .icon.fa-square-o {
        color: $gray-lighter;
    }
    a.selected .icon {
        font-weight: bold;
        color: $body-color;
    }
}