//
// UCLA / Header
//

//
// Header styles for CCLE banner.
//
// This defines a two part header.  
//  1. Logo + user buttons
//  2. System + weeks display

header {

    width: inherit;
    margin-bottom: 8px;
    
    .nav-toggle {
        margin-left: 15px;
        margin-top: 4px;
        .btn {
            line-height: 1rem;
            padding: .2rem .3rem;
            margin-top: 4px;
        }
    }
    
    .header-main {
        background-color: $header-color-prod; //2c5e91
        position: absolute;
        width: 100%;
        z-index: 3;
        height: $header-height;
    
        // System environment colors
        .env-behat & {
            background-image: none;
            background-color: $header-color-dev;
        }
        .env-dev & {
            background-image: none;
            background-color: $header-color-dev;
        }
        .env-test & {
            background-image: none;
            background-color: $header-color-test;
        }
        .env-stage & {
            background-image: none;
            background-color: $header-color-stage;
        }
 
    }
    
    .header-border {
        position: absolute;
        left: 0;
        width: 100%;
        height: 40px;
        background-color: $header-color-prod;
    }    
}

// Defines how header logo area looks
.header-logo {
    text-align: left;
    display: inline;
    
    // Remove the hover decoration on the logo
    a, a:hover {
        text-decoration: none;
    }
    
    // UCLA Logo
    .icon {
        width: 60px;
        height: 20px;
        display: inline;
        margin-left: .5rem;
        margin-bottom: 0.9rem;
        margin-right: -.3rem;
    }

    // CCLE text
    .logo-ccle {
        color: $ccle-color-logo;
        font-weight: bold;

        font-size: 1.8rem;
        margin-right: 4px;
        margin-left: 4px;
        &:hover {text-decoration: none;}

        .env-dev &, .env-test &, .env-stage & {
            color: white;
        }
    }

    .logo-system-name,
    .logo-system-name-vertical-bar {
        color: white;
        font-weight: 150; 
    }

    .logo-system-name {
        font-size: 1.45rem;
    }

    .logo-system-name-vertical-bar {
        position: relative;
        bottom: 2px;
        font-size: 1.5rem;
    }
    
    .logo-system-name:hover, 
    .logo-system-name:active {
        text-decoration: underline;
    }    

    @media only screen and (max-width: 320px) {
        .icon {
            display: none;
        }
    }

    @include media-breakpoint-down(sm) {
        .logo-system-name {
            display: none;
        }
        .logo-system-name-vertical-bar {
            display: none;
        }
    }
}

.header-login {
    float: right;
    margin-right: 15px;
    margin-top: -4px;
    
    .header-btn-group {
        float: right;
        color: white;
        
        .btn-header {
          background-color: $ccle-color-logo;
          padding: 10px 12px;
          color: white;
          display: inline-block;
          font-weight: 300;
          height: 40px;
          -webkit-transition-property: background-color, color;
          transition-property: background-color, color;
          -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
          -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
        }
        .btn-header:hover {
          background-color: #3e91cc;
          text-decoration: none;
        }
        .btn-header.real-user {
          padding-right: 24px;
        }
        .btn-header.real-user:after {
          content: "]";
        }
        .btn-header.real-user:before {
          content: "[";
        }
        .btn-header i {
          margin-left: 4px;
        }
        a.btn-header {
          color: white;
        }
        .btn-header-text {
          font-size: 1.2rem;
          padding: 10px 12px;
          color: white !important;
          display: inline-block;
          font-weight: 300;
          height: auto;
        }

        // Help button
        .btn-help-feedback {
            text-align: center;
            background-color: $ccle-color-logo;
            &:hover {
                background-color: lighten($ccle-color-logo, 10%);
            }
            a {
                color: black;
            }
        }
    }
    .header-btn-group .role-name {
        padding-left: 8px;
        font-size: 1.0rem;
        color: #cbe2f2;
    }
    .header-btn-group .role-name:after {
        content: ")";
    }
    .header-btn-group .role-name:before {
        content: "(";
    }
    .header-btn-group .login-as {
        font-size: 1.1rem;
        margin-left: -20px;
    }
}

// Help button
.btn-help-feedback {
    background-color: $ccle-color-logo;

    &:hover {
        background-color: $ccle-color-logo;
    }
    &:focus {
        background-color: $ccle-color-logo;
        border: 2px solid white;
    }

    // Needed to hide the extra dropdown-toggle icon from action menu.
    .dropdown-toggle::after {
        display: none;
    }
}

a.btn-help-feedback {
    color: black;
    i {
        margin-left: 2px;
    }
}

@include media-breakpoint-down(xs) {
    .header-main .header-login .btn-help-feedback {
        background-color: transparent;
        &:hover {
            background-color: transparent;
        }
        .need_help {
            display: none;
        }
        .fa-question-circle, .fa-question-circle:before {
            display: none;
        }
        .fa-caret-down, .fa-caret-down:before {
            display: none;
        }
        .caret:before {
            background-image: url("[[pix:theme|questionmark]]");
            background-size: 30px 30px;
            display: inline-block;
            width: 30px;
            height: 30px;
            content: "";
            margin-top: -5px;
            margin-right: -10px;
            background-repeat: no-repeat;
        }
    }
    .userpicture {
        border-radius: 50%;
        width: 25px;
        height: 25px;
        margin-top: 3px;
    }
    .usermenu {
        margin-left: 8px;
        margin-top: .30rem;
    }
}

.usermenu .moodle-actionmenu .toggle-display .userbutton
.usertext{
    font-weight: 300;
    padding-bottom: 3px;
}

.usermenu .moodle-actionmenu:hover .toggle-display .userbutton .usertext {
    color: white;
}

.usermenu .moodle-actionmenu .toggle-display {
    padding: 0px;
}

.usermenu {
    margin-left: 10px;
    margin-top: .18rem;
    .login {
        line-height: 3rem;
        a, a:hover, a:visited {
            color: #f5f8f9;
            text-decoration: underline;
        }
    }
    .jsenabled .moodle-actionmenu[data-enhance] .toggle-display.textmenu .caret {
        margin-top: 10px;
    }
    .caret {
        border-top: 4px solid white;
    }
    a:focus .caret, a:hover .caret {
        border-top-color: white;
    }
    a.dropdown-toggle, a.dropdown-toggle:hover {
        color: #f5f8f9;
    }
 }
 
.navbar {
    .popover-region {
        float: left;
        margin-top: 8px;
        margin-right: 0;
    }
    // For hiding the extra dropdown-toggle icon from action menu.
    .popover-region-toggle {
        &::before {
            display: none;
        }
        &::after {
            display: none;
        }
    }
    // Make notification text readable.
    .popover-region-content-container {
        color: $body-color;
    }
}

// Removes extra spacing at top and bottom of Need help and User menu.
.dropdown-menu {
    padding: 0px;
}