/// Moodle labels

// For inline labels
.activity.label {
    
    // Adds Boostrap-grid support to moodle labels.
    // This assumes you enclose your rows in 'content' divs.
    .content {
        padding-left: 15px;
        padding-right: 15px;
    }
}

// Adds spacing between activity labels.
.section .activity.modtype_label.label {
    padding-top: 10px;
    padding-bottom: 10px;
}

// Makes external media links left aligned.
.mediaplugin > div {
    margin: inherit;
}