#page-mod-forum-discuss .discussioncontrols {
    .movediscussion .form-inline input, .pindiscussion button {
        margin-top: 1px;
    }
}

.editing .section {
    .activity {
        .mod-indent-outer {
            padding-left: 0px;
        }
        .editing_move {
            position: inherit;
        }
    }
    .label {
        .mod-indent-outer {
            padding-left: 24px;
            max-width: calc(100% - 65px);
        }
    }
}
.mod-indent-outer{
    display: inline-table !important;
}
.completion-container {
    width:27px;
    display: inline-table;
    vertical-align: top;
    margin-top: 0.4rem;
}
