#page-mod-forum-discuss .discussioncontrols {
    .movediscussion .form-inline input, .pindiscussion button {
        margin-top: 1px;
    }
}

.editing .section {
    .activity {
        .editing_move {
            position: inherit;
        }
    }
}
.mod-indent-outer{
    display: inline-table !important;
}
.completion-container {
    width:27px;
    display: inline-table;
    vertical-align: top;
    margin-top: 0.4rem;
}

#quiz-timer {
    @extend .alert-warning;

    position: fixed;
    left: 0px;
    top: 15px;
    font-size: 20px;
    width: 100vw;
    text-align: center;
    padding: 0px;
    z-index: 2;
}
