// Course related styles.

// Term styles.
.label-term {
    @extend .btn;
    padding: 0 4px;
    text-transform: capitalize;
    font-weight: 300;

}

.label-fall {
    background-color: $session-fall-background-color;
    color: $session-fall-color;
}

.label-spring {
    background-color: $session-spring-background-color;
    color: $session-spring-color;
}

.label-winter {
    background-color: $session-winter-background-color;
    color: $session-winter-color;
}

.label-summer {
    background-color: $session-summer-background-color;
    color: $session-summer-color;
}

.navbar-light {
    padding-top: 0px;
}

/**
* Weeks display.
*/
.weeks-display {
    width: auto;
    margin-bottom: 4px;
    text-align: right;
    float: right;
    padding: 1.5px 4px;
    clear: right;
    display: inline-block;
    font-size: 0.85rem;
    font-weight: 300;
    white-space: nowrap;
    .week {
        &:before {
            content: " - ";
        }
        font-weight: bold;
    }
}